In [5]:
%pip install convertdate

Collecting convertdate
  Using cached convertdate-2.4.0-py3-none-any.whl (47 kB)
Collecting pymeeus<=1,>=0.3.13
  Using cached PyMeeus-0.5.11-py3-none-any.whl
Installing collected packages: pymeeus, convertdateNote: you may need to restart the kernel to use updated packages.
Successfully installed convertdate-2.4.0 pymeeus-0.5.11

WARNING: You are using pip version 22.0.3; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\users\krister\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
import convertdate
import re

In [270]:
main_df = pd.read_parquet('../data/RZ_processed.parquet')

In [9]:
weekdays = ['Montag', 'Montage', 'Dienstag', 'Dienstage', 'Dinstag', 'Mittwoch', 'Donnerstag', 'Donnerstage',
            'DonnerStag', 'DienStag', 'DienStage', 'DinStag',
            'Freitag', 'Freytag', 'Freitage', 'Sonntag', 'Sonnabend', 'Sonntage', 'Stag', 'Tage',
            'Gestern', 'Morgen']
months = ['Januar', 'Februar', 'März', 'April', 'Juni', 'Juny', 'Juli', 'July', 'August',
          'October', 'Oktober', 'November', 'December', 'Dezember']
times_of_day = ['Abend', 'Heute']
currencies = ['Thlr']
other = ['Fremde', 'Hotel', 'Adler', 'Rathhaus', 'Riga-Rathhaus', 'Riga-RathhauS', 'Riga-Schloß', 'Geldkurs', 'Hause',
         'Tgbf', 'Börse', 'Pastorat', 'Senat', 'Schmidt', 'Verwaltung', 'Bekanntmachungen', 'Anzeige', 'Jahre',
         'Tagesbefehle', 'Schloß', 'Ritterhause', 'Weihnachtsabend']

exceptions = weekdays + months + times_of_day + currencies + other

In [10]:
with open('../data/re_exceptions.txt', 'r', encoding='utf8') as f:
    exceptions = []
    for line in f.readlines():
        exceptions.append(line.strip('\n'))

In [11]:
with open('../data/re_pattern2.txt', 'r', encoding='utf8') as f:
    pattern = re.compile(f.read())

In [52]:
def pattern_test():

    for ix, row in main_df[main_df.heading.str.contains('in ausländischen Häfen')].iterrows():
        matches = list(re.finditer(pattern, row.full_text))
        if len(matches) > 0:
            
            return row.full_text, matches

In [47]:
main_df[main_df.heading.str.contains('Schiff')]

,date,year,month,day,pub,heading,full_text,href,text_len,placename,origin_date,origin_month,heading2
114770,1853-02-05,1853,2,5,Rigasche Zeitung,Gleich nach Eröffnung der Schifffahrt in St. P...,Gleich nach Eröffnung der Schifffahrt in St. P...,https://proc.dom.lndb.lv/file.axd?id=7103606&a...,3590,None,None,None,Gleich nach Eröffnung der Schifffahrt in St. P...
166185,1864-07-31,1864,7,31,Rigasche Zeitung,"Riga, 30. Juli. Mit dem Norm. Schiffe R-weastl...","Riga, 30. Juli. Mit dem Norm. Schiffe R-weastl...",https://proc.dom.lndb.lv/file.axd?id=10783340&...,1292,Riga,30,Jul,Riga
177642,1866-10-26,1866,10,26,Rigasche Zeitung,"Riga, 25. October. Mit dem Haun. Schiffe Coneo...","Riga, 25. October. Mit dem Haun. Schiffe Coneo...",https://proc.dom.lndb.lv/file.axd?id=13671830&...,3279,Riga,25,Oct,Riga
191750,1869-06-13,1869,6,13,Rigasche Zeitung,Schiffsfrachten.,"Schiffsfrachten.\n\n\tRiga, 13. Juni.\nNach Du...",https://proc.dom.lndb.lv/file.axd?id=13014315&...,115,None,None,None,Schiffsfrachten
187674,1868-09-23,1868,9,23,Rigasche Zeitung,Schiffsfrachten.,Schiffsfrachten.\n\n\tRiga. 21. September.\nNa...,https://proc.dom.lndb.lv/file.axd?id=14956549&...,423,None,None,None,Schiffsfrachten
188313,1868-10-31,1868,10,31,Rigasche Zeitung,Schiffsfrachten,Schiffsfrachten\n\n\tv—' — • «v.\nNach NtstHar...,https://proc.dom.lndb.lv/file.axd?id=12873885&...,672,None,None,None,Schiffsfrachten
60584,1839-05-20,1839,5,20,Rigasche Zeitung,Schiffs-Verkauf.,Schiffs-Verkauf.\n\n\tAm 5. Juni d. J wird hie...,https://proc.dom.lndb.lv/file.axd?id=12102423&...,1099,None,None,None,Schiffs-Verkauf
175263,1866-05-25,1866,5,25,Rigasche Zeitung,"Riga, 24. Mai. Mit dem Rorw. Schifft Gamilla, ...","Riga, 24. Mai. Mit dem Rorw. Schifft Gamilla, ...",https://proc.dom.lndb.lv/file.axd?id=11278902&...,176,Riga,24,Mai,Riga
281933,1887-05-27,1887,5,27,Rigasche Zeitung,— fDie hiesige Maschinenfabrik und Schiffswerf...,— fDie hiesige Maschinenfabrik und Schiffswerf...,https://proc.dom.lndb.lv/file.axd?id=15476458&...,7223,None,None,None,— fDie hiesige Maschinenfabrik und Schiffswerf...
87604,1847-02-13,1847,2,13,Rigasche Zeitung,"Neapel, 30. Januar. Der Handels- und Schifffah...","Neapel, 30. Januar. Der Handels- und Schifffah...",https://proc.dom.lndb.lv/file.axd?id=4772134&a...,328,Neapel,30,Jan,Neapel
177748,1866-11-02,1866,11,2,Rigasche Zeitung,iv ausländischen Häfen angekommene Schiffe:,iv ausländischen Häfen angekommene Schiffe:\nA...,https://proc.dom.lndb.lv/file.axd?id=9610548&a...,203,None,None,None,iv ausländischen Häfen angekommene Schiffe:
193101,1869-09-04,1869,9,4,Rigasche Zeitung,Schiffsfrachten.,"Schiffsfrachten.\n\n\tRiga, 3. September.\nNac...",https://proc.dom.lndb.lv/file.axd?id=3627560&a...,561,None,None,None,Schiffsfrachten
166487,1864-08-22,1864,8,22,Rigasche Zeitung,"Riga, den 21. August. Mit dem Hannöv. Schiffe ...","Riga, den 21. August. Mit dem Hannöv. Schiffe ...",https://proc.dom.lndb.lv/file.axd?id=5175879&a...,1852,Riga,21,Aug,Riga
179243,1867-02-15,1867,2,15,Rigasche Zeitung,Von Riga in ausländischen Häfen angekommene Sc...,Von Riga in ausländischen Häfen angekommene Sc...,https://proc.dom.lndb.lv/file.axd?id=9488181&a...,1035,None,None,None,Von Riga in ausländischen Häfen angekommene Sc...
166124,1864-07-27,1864,7,27,Rigasche Zeitung,"Riga, 25 Juli. Mit dem Franz. Schiffe Louise M...","Riga, 25 Juli. Mit dem Franz. Schiffe Louise M...",https://proc.dom.lndb.lv/file.axd?id=14029900&...,1895,Riga,25,Jul,Riga
171386,1865-08-26,1865,8,26,Rigasche Zeitung,Schiffsfrachten.,Schiffsfrachten.\n\n\tBefrachtet wurde seit de...,https://proc.dom.lndb.lv/file.axd?id=13934420&...,1371,None,None,None,Schiffsfrachten
176880,1866-09-09,1866,9,9,Rigasche Zeitung,Riga. 8. September. Mit ferro Brit. Schiffe La...,Riga. 8. September. Mit ferro Brit. Schiffe La...,https://proc.dom.lndb.lv/file.axd?id=5493664&a...,2389,Riga,8,Sept,Riga
170670,1865-07-06,1865,7,6,Rigasche Zeitung,"Riga, 5. Juli. Mit dem Holl. Schiffe Gertrutda...","Riga, 5. Juli. Mit dem Holl. Schiffe Gertrutda...",https://proc.dom.lndb.lv/file.axd?id=2616367&a...,2544,Riga,5,Jul,Riga
130799,1856-06-25,1856,6,25,Rigasche Zeitung,"Newyork, 19. Juni. (Zeit.) Das Schiff „Pallas""...","Newyork, 19. Juni. (Zeit.) Das Schiff „Pallas""...",https://proc.dom.lndb.lv/file.axd?id=5913709&a...,1518,Newyork,19,Jun,Newyork
173443,1866-01-21,1866,1,21,Rigasche Zeitung,in ausländischen Häfen angekommene Schiffe: Tr...,in ausländischen Häfen angekommene Schiffe: Tr...,https://proc.dom.lndb.lv/file.axd?id=8507980&a...,1554,None,None,None,in ausländischen Häfen angekommene Schiffe: Tr...
2023,1803-12-02,1803,12,2,Rigasche Zeitung,Zu Tuest sind im Monat Oktober 247 Schiffe aug...,Zu Tuest sind im Monat Oktober 247 Schiffe aug...,https://proc.dom.lndb.lv/file.axd?id=4341019&a...,529,None,None,None,Zu Tuest sind im Monat Oktober 247 Schiffe aug...
164827,1864-04-14,1864,4,14,Rigasche Zeitung,"Riga, 13. April. Mit dem Norw. Schiffe Refor«,...","Riga, 13. April. Mit dem Norw. Schiffe Refor«,...",https://proc.dom.lndb.lv/file.axd?id=3375758&a...,881,Riga,13,Apr,Riga
167611,1864-11-06,1864,11,6,Rigasche Zeitung,"Riga, 5. Norcmbcr. Mit dem Harmöv. Schiff Hei«...","Riga, 5. Norcmbcr. Mit dem Harmöv. Schiff Hei«...",https://proc.dom.lndb.lv/file.axd?id=2983966&a...,1607,Riga,5,None,Riga
180862,1867-06-27,1867,6,27,Rigasche Zeitung,"Riza, 26 Juni. Mit dem Pmijj. Schiffe Louise, ...","Riza, 26 Juni. Mit dem Pmijj. Schiffe Louise, ...",https://proc.dom.lndb.lv/file.axd?id=3250976&a...,1268,Riza,26,Jun,Riza
37413,1829-09-05,1829,9,5,Rigasche Zeitung,"Kapitain D. F. Pust, der mit feinem neuen Schi...","Kapitain D. F. Pust, der mit feinem neuen Schi...",https://proc.dom.lndb.lv/file.axd?id=5884831&a...,1062,None,None,None,"Kapitain D. F. Pust, der mit feinem neuen Schiffe"
185189,1868-04-24,1868,4,24,Rigasche Zeitung,Riga. 23. April. Mit dem Brit. Schiffe Sapphi ...,Riga. 23. April. Mit dem Brit. Schiffe Sapphi ...,https://proc.dom.lndb.lv/file.axd?id=9471334&a...,579,Riga,23,Apr,Riga
144687,1859-09-09,1859,9,9,Rigasche Zeitung,Ein schwedischer Schiffscapitain hat folgende»...,Ein schwedischer Schiffscapitain hat folgende»...,https://proc.dom.lndb.lv/file.axd?id=11970597&...,3788,None,None,None,Ein schwedischer Schiffscapitain hat folgende»...
181478,1867-08-11,1867,8,11,Rigasche Zeitung,in ausländischen Häfen angekommene Schiffe:,in ausländischen Häfen angekommene Schiffe:\nS...,https://proc.dom.lndb.lv/file.axd?id=14060684&...,364,None,None,None,in ausländischen Häfen angekommene Schiffe:
167690,1864-11-12,1864,11,12,Rigasche Zeitung,Schiffsfrachten.,Schiffsfrachten.\n\n\t33efrad)tef rmirbe: паф ...,https://proc.dom.lndb.lv/file.axd?id=4680021&a...,581,None,None,None,Schiffsfrachten

In [12]:
def get_text(ix, window):
    window_before, window_after = window, window
    if window_before > df.loc[ix, 'start']:
        window_before = df.loc[ix, 'start']
        
    return main_df.loc[df.loc[ix, 'doc_id'], 'full_text'][df.loc[ix, 'start']-window_before:df.loc[ix, 'end']+window_after]
    
    
def get_example(placename, window=200):
    example = df.loc[df.placename == placename].sample(1)
    ix = example.index.values[0]
    doc_id = example.doc_id.values[0]
    print('doc_id: ', doc_id, '\n') 
    if window == 'full':
        print(main_df.loc[doc_id, 'full_text'], '\n')
    else:
        print(get_text(ix, window), '\n')
    for match in re.finditer(pattern, main_df.loc[doc_id, 'full_text']):
        print(match.groupdict())
        
        
def extract_data_from_match(match):
    m = match.groupdict()
    if m['DATE2'] is None:
        return [m['placename'], m['date'], m['date_par'], m['month'], m['month2'], match.span()[0], match.span()[1]]
    elif m['DATE'] is None:
        return [m['placename'], m['date2'], m['date2_par'], m['month2'], m['month2_par'], match.span()[0], match.span()[1]]

        
def scan_placenames_dates(main_df):
    
    results = []
    
    for ix, row in tqdm(main_df.iterrows()):
        matches = list(re.finditer(pattern, row.full_text))
        for m in matches:
            #results.append([ix, row.date] + list(m.groupdict().values()) + [m.span()[0], m.span()[1]])
            results.append([ix, row.date] + extract_data_from_match(m))
        
    result_df = pd.DataFrame(columns=['doc_id', 'doc_date', 'placename', 'day', 'day2', 'month', 'month2', 'start', 'end'],
                             data=results).fillna(pd.NA)
    
    result_df['doc_date'] = pd.to_datetime(result_df['doc_date'], format='%Y-%m-%d')
    result_df['year'] = result_df['doc_date'].dt.year
    
    for col in ['day', 'day2']:
        
        result_df[col] = result_df[col].str.lstrip('( ').str.strip('.) ')
        result_df[col].fillna(0, inplace=True)
        result_df[col] = result_df[col].astype(int)
        result_df[col] = result_df[col].apply(lambda x: x if (x in range(1,32)) else pd.NA)
        result_df[col].replace(0, pd.NA, inplace=True)

    return result_df[~result_df.placename.isin(exceptions)]

In [45]:
df.loc[(df.day == 2), 'day'] = pd.NA

In [66]:
df = scan_placenames_dates(main_df)

0it [00:00, ?it/s]

In [14]:
df

,doc_id,doc_date,placename,day,day2,month,month2,start,end,year
0,158691,1862-12-12,Haag,13,1,Dec,<NA>,11,36,1862
1,120911,1854-04-05,St. Petersbourg,18,<NA>,Feb,<NA>,159,191,1854
2,158839,1862-12-22,Wien,27,15,Dec,<NA>,15,41,1862
3,158839,1862-12-22,Kaiser,28,<NA>,Nov,<NA>,299,324,1862
4,158839,1862-12-22,Pesth,27,<NA>,Dec,<NA>,2277,2300,1862
...,...,...,...,...,...,...,...,...,...,...
1268,155140,1862-02-24,Riga,23,<NA>,Feb,<NA>,332,351,1862
1269,155140,1862-02-24,St. Petersburg,20,<NA>,Feb,<NA>,777,806,1862
1270,95054,1848-10-13,Turin,12,<NA>,Oct,<NA>,11,31,1848
1271,95054,1848-10-13,Neapel,6,<NA>,Oct,<NA>,1321,1341,1848
1272,95054,1848-10-13,Neapel,8,<NA>,Oct,<NA>,1521,1537,1848

In [80]:
def example():
    
    example_ix = df.sample().doc_id.values[0]

    for ix, row in df[df.doc_id == example_ix].iterrows():
        print(row.loc[['placename', 'date_full', 'date2_full']], '\n')
    print('\n\n', main_df.loc[row['doc_id'], 'full_text'])

In [66]:
print(df.placename.value_counts().sum())
print(df.placename.value_counts()[lambda x: x >= 30].sum())

1181
473

In [15]:
placename_replacement_dict = {
    'Petersburg': 'St. Petersburg',
    'Trieft': 'Triest',
    'Pesth': 'Pest',
    'Pefth': 'Pest',
    'Verlin': 'Berlin',
    'Maingegenden': 'Main',
    'Janeiro': 'Rio de Janeiro',
    'Bucharest': 'Bukarest',
    'Vondon': 'London',
    'Loudon': 'London',
    'Rewyork': 'New York',
    'Newyork': 'New York',
    'Ncwyork': 'New York',
    'Newyort': 'New York',
    'New-York': 'New York',
    'Ntwyork': 'New York',
    'Pans': 'Paris',
    'PanS': 'Paris',
    'Parts': 'Paris',
    'PartS': 'Paris',
    'Baris': 'Paris',
    'PariS': 'Paris',
    'Konftantinopel': 'Konstantinopel',
    'Konstautinopel': 'Konstantinopel',
    'Koustantinopel': 'Konstantinopel',
    'Konstantmopel':  'Konstantinopel',
    'Constantinopel': 'Konstantinopel',
    'Kalkutta': 'Calcutta',
    'Niga': 'Riga',
    'Riza': 'Riga',
    'Rlga': 'Riga',
    'Kiga': 'Riga',
    'Rcval': 'Reval',
    'Neval': 'Reval',
    'Torpat': 'Dorpat',
    'DomeSneeS': 'Domesnees',
    'DomesneeS': 'Domesnees',
    'DomeSnees': 'Domesnees',
    'Domcsnees': 'Domesnees',
    'Snees': 'Domesnees',
    'Boldcraa': 'Bolderaa',
    'Sselo': 'Zarskoje Sselo',
    'Skoje-Sselo': 'Zarskoje Sselo',
    'Mayn': 'Main',
    'Liban': 'Libau',
    'Turm': 'Turin',
    'Ancona': 'Ankona',
    'Carlsruhe': 'Karlsruhe',
    'Bafel': 'Basel',
    'Straszburg': 'Straßburg',
    'Strasburg': 'Straßburg',
    'Moskwa': 'Moskau',
    'MoSkau': 'Moskau',
    'Narowa': 'Narwa',
    'Narva': 'Narwa',
    'Berlm': 'Berlin',
    'Bertin': 'Berlin',
    'Berlw': 'Berlin',
    'Verlin': 'Berlin',
    'Mayland': 'Mailand',
    'Darmftadt': 'Darmstadt',
    'DreSden': 'Dresden',
    'Cassel': 'Kassel',
    'Wieu': 'Wien',
    'Manheim': 'Mannheim',
    'Stuttgardt': 'Stuttgart',
    'Frankfurt': 'Frankfurt am Main',
    'TifliS': 'Tiflis',
    'Buenos-Ayres': 'Buenos Aires',
    'Archangel': 'Archangelsk',
    'Kadix': 'Cadix',
    'Malehin': 'Malchin',
    'Türkischen Gränze': 'Türkische Grenze',
    'Türkische Gränze': 'Türkische Grenze',
    'Italienischen Gränze': 'Italienische Grenze',
    'Italienischen Grenze': 'Italienische Grenze',
    'Serbischen Gränze': 'Serbische Grenze',
    'Servische Gränze': 'Serbische Grenze',
    'Polnischen Grenze': 'Polnische Grenze',
    'Spanische Gränze': 'Spanische Grenze',
}

#with open('../rz_acta/placename_replacement_dict.json', 'w', encoding='utf8') as f:
#    json.dump(placename_replacement_dict, f)

In [67]:
df.placename.replace(placename_replacement_dict, inplace=True)

In [17]:
print(df.placename.value_counts()[lambda x: x > 29].to_string())

Paris             101
Riga               92
St. Petersburg     89
Berlin             87
London             62
Wien               57

In [18]:
def cleanup_dates(df):
    
    #df = df.copy()
    
    month_dict = dict(zip(['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun',
                           'Jul', 'Aug', 'Sept', 'Okt', 'Nov', 'Dec'], range(1,13)))
    
    for col in ['month', 'month2']:
    
        df[col] = df[col].str.capitalize()
        df[col].replace({'Dez': 'Dec', 'Mar': 'Mär', 'Oct': 'Okt', '0ct': 'Okt', '0kt': 'Okt',
                          'Jnl': 'Jul', 'Jnn': 'Jun', 'Juu': 'Jun', 'May': 'Mai'}, inplace=True)
        
        df[col].replace(month_dict, inplace=True)
        df.loc[df[col].isin(['C', 'C.', 'D. m', 'D. m.']), col] = df.loc[df[col].isin(['C', 'C.', 'D. m', 'D. m.']), 'doc_date'].dt.month
        df.loc[df[col].isin(['V. m', 'V. m.']), 'month'] = (df.loc[df[col].isin(['v. M', 'V. m.']), 'doc_date'] - pd.DateOffset(months=1)).dt.month - 1
        
        df[col] = df[col].fillna(0).astype(int)
        df[col] = df[col].apply(lambda x: x if (x in range(1,13)) else pd.NA)
    
    #df.day = df.day.fillna(0).astype(int)
    #df.day = df.day.apply(lambda x: x if (x in range(1,32)) else pd.NA)
    #
    #df.day2 = df.day2.fillna(0).astype(int)
    #df.day2 = df.day2.apply(lambda x: x if (x in range(1,32)) else pd.NA)
    
    return df

In [68]:
df = cleanup_dates(df)

In [62]:
def verify_dates(ix, df=df):
    
    """Function to find the logically correct date from the information found by the regular expression.
    Has different approaches depending on the number of dates and months detected. In the case of multiple
    possibilities, returns the earlier one (corresponding to the Julian calendar)."""
    
    #print(df.loc[ix,['day', 'day2', 'month', 'doc_date']].values)
    
    day, day2, month, month2, doc_date = [value if type(value) != pd._libs.missing.NAType else None
                                          for value in df.loc[ix,['day', 'day2', 'month', 'month2', 'doc_date']].values]
    
    path = []
    
    # if 
    if day is None or month is None:
        path.append(0)
        return pd.NA, path
    
    # two dates, two months
    if None not in [day, day2, month, month2]:
        path.append(1)
        
        # exception for december
        if (month == 12 or month2 == 12) and doc_date.month == 1:
            path.append(1.1)
            possible_origin_dates = []
            for m in [month, month2]:
                origin_year = doc_date.year-1 if m == 12 else doc_date.year
                possible_origin_dates.append(
                        pd.to_datetime(f'{str(origin_year)}-{m}-{day}', format='%Y-%m-%d', errors='coerce'))
                    
            origin_date = min(possible_origin_dates)
        
        # normal proceeding, no december in any of the two dates
        else:
            path.append(1.2)
            # julian is the smaller one
            origin_date = min(
                pd.to_datetime(f'{str(doc_date.year)}-{month}-{day}', format='%Y-%m-%d', errors='coerce'),
                pd.to_datetime(f'{str(doc_date.year)}-{month2}-{day2}', format='%Y-%m-%d', errors='coerce')
            )
       
    
    # two dates, one month
    elif day and day2 and month:
        path.append(2)
        
        # if month is the same or precedes the publication month
        if month == doc_date.month or month < doc_date.month:
            path.append(2.1)
            
            # julian is the smaller one
            origin_date = min(
                pd.to_datetime(f'{str(doc_date.year)}-{month}-{day2}', format='%Y-%m-%d', errors='coerce'),
                pd.to_datetime(f'{str(doc_date.year)}-{month}-{day}', format='%Y-%m-%d', errors='coerce')
            )
       
        # if month follows publication month
        elif month > doc_date.month:
            path.append(2.2)
            
            # exception for december
            if month == 12 and doc_date.month == 1:
                origin_date = min(
                    pd.to_datetime(f'{str(doc_date.year-1)}-{month}-{day2}', format='%Y-%m-%d', errors='coerce'),
                    pd.to_datetime(f'{str(doc_date.year-1)}-{month}-{day}', format='%Y-%m-%d', errors='coerce'))                 
            else:
                return pd.NA, path
            
            
    # one day, one month
    elif day and month:
        path.append(3)
        
        # if month precedes publication month
        if month < doc_date.month:
            path.append(3.1)
            # (probably) julian
            origin_date = pd.to_datetime(f'{str(doc_date.year)}-{month}-{day}',
                                         format='%Y-%m-%d', errors='coerce')
        
        # if month is the same as publication month
        elif month == doc_date.month:
            path.append(3.2)
            
            # if the day is later than the publication day, within the same month
            if day > doc_date.day:
                path.append(3.21)
                
                # origin is gregorian, convert to julian first, then apply
                try:
                    day_jul = convertdate.julian.from_gregorian(year=doc_date.year, month=month, day=day)
                except ValueError:
                    return pd.NA
                origin_date = pd.to_datetime(f'{str(day_jul[0])}-{str(day_jul[1])}-{str(day_jul[2])}',
                                             format='%Y-%m-%d', errors='coerce')
            
            # if the day precedes the publication day, within the same month
            else:
                path.append(3.22)
                # origin is julian, apply directly to datetime
                origin_date = pd.to_datetime(f'{str(doc_date.year)}-{month}-{day}',
                                             format='%Y-%m-%d', errors='coerce')
        
        
        # if month is greater than publication month
        elif month > doc_date.month:
            path.append(3.3)
            
            # exception for december
            if month == 12 and doc_date.month == 1:
                path.append(3.31)
                # origin is from last year - probably in julian b/c is smaller that doc_date and there is no day2
                origin_date = pd.to_datetime(f'{str(doc_date.year-1)}-{month}-{day}',
                                             format='%Y-%m-%d', errors='coerce')
                
            else:
                path.append(3.32)
                # origin is from next month, thus in gregorian
                try:
                    day_jul = convertdate.julian.from_gregorian(year=doc_date.year, month=month, day=day)
                except ValueError:
                    return pd.NA
                origin_date = pd.to_datetime(f'{str(day_jul[0])}-{str(day_jul[1])}-{str(day_jul[2])}',
                                             format='%Y-%m-%d', errors='coerce')
            
    return origin_date, path

In [32]:
origin_dates = []
for ix in tqdm(df.index):
    origin_dates.append(verify_dates(ix, df))

df['origin_date'] = origin_dates

  0%|          | 0/1180 [00:00<?, ?it/s]

[13 1 12 Timestamp('1862-12-12 00:00:00')]
[18 <NA> 2 Timestamp('1854-04-05 00:00:00')]
[27 15 12 Timestamp('1862-12-22 00:00:00')]
[28 <NA> 11 Timestamp('1862-12-22 00:00:00')]
[27 <NA> 12 Timestamp('1862-12-22 00:00:00')]
[22 10 10 Timestamp('1871-10-13 00:00:00')]
[27 <NA> 7 Timestamp('1810-08-06 00:00:00')]
[2 <NA> 7 Timestamp('1856-06-26 00:00:00')]
[30 <NA> 6 Timestamp('1856-06-26 00:00:00')]
[15 <NA> 1 Timestamp('1860-01-16 00:00:00')]
[11 <NA> 1 Timestamp('1860-01-16 00:00:00')]
[13 <NA> 11 Timestamp('1860-01-16 00:00:00')]
[9 <NA> 1 Timestamp('1860-01-16 00:00:00')]
[10 <NA> 1 Timestamp('1860-01-16 00:00:00')]
[11 <NA> 1 Timestamp('1860-01-16 00:00:00')]
[3 <NA> 9 Timestamp('1871-09-06 00:00:00')]
[25 13 9 Timestamp('1869-09-16 00:00:00')]
[25 13 9 Timestamp('1869-09-16 00:00:00')]
[26 14 9 Timestamp('1869-09-16 00:00:00')]
[24 14 9 Timestamp('1869-09-16 00:00:00')]
[25 13 9 Timestamp('1869-09-16 00:00:00')]
[25 13 9 Timestamp('1869-09-16 00:00:00')]
[26 <NA> 8 Timestamp('1852-08-21 00:00:00')]
[2 <NA> 2 Timestamp('1839-02-20 00:00:00')]
[14 <NA> 6 Timestamp('1816-06-21 00:00:00')]
[31 <NA> 8 Timestamp('1843-09-09 00:00:00')]
[26 <NA> 5 Timestamp('1845-10-25 00:00:00')]
[12 <NA> 1 Timestamp('1812-01-13 00:00:00')]
[29 <NA> 10 Timestamp('1862-10-23 00:00:00')]
[25 <NA> 10 Timestamp('1862-10-23 00:00:00')]
[15 <NA> 8 Timestamp('1815-08-21 00:00:00')]
[23 11 9 Timestamp('1874-09-17 00:00:00')]
[21 <NA> 7 Timestamp('1876-07-15 00:00:00')]
[10 <NA> 5 Timestamp('1884-05-01 00:00:00')]
[9 27 5 Timestamp('1884-05-01 00:00:00')]
[10 <NA> 2 Timestamp('1852-02-14 00:00:00')]
[17 <NA> 12 Timestamp('1846-12-24 00:00:00')]
[11 <NA> 5 Timestamp('1858-05-05 00:00:00')]
[29 <NA> 5 Timestamp('1825-06-02 00:00:00')]
[18 <NA> 5 Timestamp('1873-05-18 00:00:00')]
[10 <NA> 4 Timestamp('1873-05-18 00:00:00')]
[27 <NA> 11 Timestamp('1850-11-30 00:00:00')]
[23 <NA> 9 Timestamp('1806-09-29 00:00:00')]
[7 <NA> 9 Timestamp('1848-09-09 00:00:00')]
[17 <NA> 5 Timestamp('1808-06-13 00:00:00')]
[11 <NA> 4 Timestamp('1883-04-11 00:00:00')]
[11 <NA> 4 Timestamp('1883-04-11 00:00:00')]
[11 <NA> 4 Timestamp('1883-04-11 00:00:00')]
[2 21 11 Timestamp('1869-10-24 00:00:00')]
[30 18 10 Timestamp('1869-10-24 00:00:00')]
[31 <NA> 8 Timestamp('1871-08-31 00:00:00')]
[25 <NA> 8 Timestamp('1871-08-31 00:00:00')]
[27 <NA> 8 Timestamp('1871-08-31 00:00:00')]
[30 <NA> 8 Timestamp('1871-08-31 00:00:00')]
[5 <NA> 2 Timestamp('1871-08-31 00:00:00')]
[26 <NA> 8 Timestamp('1871-08-31 00:00:00')]
[21 <NA> 11 Timestamp('1835-11-25 00:00:00')]
[7 <NA> 4 Timestamp('1856-04-02 00:00:00')]
[10 29 11 Timestamp('1860-11-22 00:00:00')]
[23 <NA> 7 Timestamp('1851-07-27 00:00:00')]
[8 <NA> 7 Timestamp('1851-07-27 00:00:00')]
[19 <NA> 7 Timestamp('1841-08-09 00:00:00')]
[17 <NA> 7 Timestamp('1841-08-09 00:00:00')]
[10 <NA> 5 Timestamp('1874-05-13 00:00:00')]
[16 <NA> 12 Timestamp('1827-12-13 00:00:00')]
[10 <NA> 12 Timestamp('1886-12-10 00:00:00')]
[10 <NA> 12 Timestamp('1886-12-10 00:00:00')]
[31 <NA> 1 Timestamp('1884-01-31 00:00:00')]
[28 <NA> 1 Timestamp('1884-01-31 00:00:00')]
[3 <NA> 7 Timestamp('1834-07-09 00:00:00')]
[17 <NA> 2 Timestamp('1849-02-14 00:00:00')]
[18 <NA> 2 Timestamp('1849-02-14 00:00:00')]
[13 <NA> 2 Timestamp('1849-02-14 00:00:00')]
[20 <NA> 6 Timestamp('1857-06-17 00:00:00')]
[22 <NA> 6 Timestamp('1857-06-17 00:00:00')]
[15 <NA> 6 Timestamp('1832-06-18 00:00:00')]
[3 <NA> 1 Timestamp('1846-01-09 00:00:00')]
[14 2 1 Timestamp('1862-01-24 00:00:00')]
[18 <NA> 12 Timestamp('1862-01-24 00:00:00')]
[10 <NA> 12 Timestamp('1862-01-24 00:00:00')]
[19 <NA> 6 Timestamp('1855-06-13 00:00:00')]
[20 <NA> 6 Timestamp('1855-06-13 00:00:00')]
[21 <NA> 6 Timestamp('1855-06-13 00:00:00')]
[27 <NA> 11 Timestamp('1849-11-30 00:00:00')]
[24 <NA> 10 Timestamp('1888-10-18 00:00:00')]
[6 <NA> 2 Timestamp('1856-02-11 00:00:00')]
[29 <NA> 1 Timestamp('1856-02-11 00:00:00')]
[1 <NA> 10 Timestamp('1846-10-01 00:00:00')]
[28 <NA> 9 Timestamp('1846-10-01 00:00:00')]
[<NA> <NA> 10 Timestamp('1887-11-03 00:00:00')]
[13 <NA> 10 Timestamp('1887-11-03 00:00:00')]
[10 <NA> 9 Timestamp('1887-11-03 00:00:00')]
[5 <NA> 10 Timestamp('1887-11-03 00:00:00')]
[1 <NA> 11 Timestamp('1887-11-03 00:00:00')]
[8 <NA> 7 Timestamp('1824-07-18 00:00:00')]
[20 <NA> 7 Timestamp('1824-07-18 00:00:00')]
[9 <NA> 2 Timestamp('1835-02-16 00:00:00')]
[3 <NA> 2 Timestamp('1835-02-16 00:00:00')]
[27 <NA> 12 Timestamp('1835-02-16 00:00:00')]
[6 25 6 Timestamp('1886-05-27 00:00:00')]
[6 25 6 Timestamp('1886-05-27 00:00:00')]
[29 <NA> 1 Timestamp('1830-02-04 00:00:00')]
[6 <NA> 11 Timestamp('1869-11-07 00:00:00')]
[18 6 12 Timestamp('1884-12-08 00:00:00')]
[18 6 12 Timestamp('1884-12-08 00:00:00')]
[17 5 12 Timestamp('1884-12-08 00:00:00')]
[17 5 12 Timestamp('1884-12-08 00:00:00')]
[18 6 12 Timestamp('1884-12-08 00:00:00')]
[18 6 12 Timestamp('1884-12-08 00:00:00')]
[13 <NA> 4 Timestamp('1811-04-22 00:00:00')]
[14 <NA> 7 Timestamp('1814-08-19 00:00:00')]
[22 <NA> 7 Timestamp('1838-07-25 00:00:00')]
[4 <NA> 7 Timestamp('1888-06-28 00:00:00')]
[1 <NA> 7 Timestamp('1888-06-28 00:00:00')]
[6 <NA> 7 Timestamp('1888-06-28 00:00:00')]
[7 <NA> 9 Timestamp('1883-09-07 00:00:00')]
[7 <NA> 9 Timestamp('1883-09-07 00:00:00')]
[18 6 9 Timestamp('1883-09-07 00:00:00')]
[18 6 9 Timestamp('1883-09-07 00:00:00')]
[18 6 9 Timestamp('1883-09-07 00:00:00')]
[17 <NA> 9 Timestamp('1883-09-07 00:00:00')]
[2 21 4 Timestamp('1874-03-26 00:00:00')]
[12 <NA> 10 Timestamp('1848-10-12 00:00:00')]
[24 <NA> 9 Timestamp('1848-10-12 00:00:00')]
[2 <NA> 9 Timestamp('1848-10-12 00:00:00')]
[3 21 5 Timestamp('1888-04-23 00:00:00')]
[2 20 5 Timestamp('1888-04-23 00:00:00')]
[2 20 5 Timestamp('1888-04-23 00:00:00')]
[5 <NA> 9 Timestamp('1834-09-05 00:00:00')]
[7 <NA> 7 Timestamp('1834-09-05 00:00:00')]
[31 <NA> 7 Timestamp('1848-07-26 00:00:00')]
[26 <NA> 2 Timestamp('1829-03-21 00:00:00')]
[16 <NA> 10 Timestamp('1861-10-21 00:00:00')]
[20 <NA> 10 Timestamp('1861-10-21 00:00:00')]
[27 <NA> 10 Timestamp('1858-10-30 00:00:00')]
[26 <NA> 10 Timestamp('1858-10-30 00:00:00')]
[2 <NA> 11 Timestamp('1858-10-30 00:00:00')]
[25 <NA> 10 Timestamp('1858-10-30 00:00:00')]
[20 <NA> 11 Timestamp('1837-12-15 00:00:00')]
[27 15 7 Timestamp('1886-07-17 00:00:00')]
[16 <NA> 2 Timestamp('1857-02-14 00:00:00')]
[19 <NA> 2 Timestamp('1857-02-14 00:00:00')]
[2 <NA> 2 Timestamp('1857-02-14 00:00:00')]
[2 <NA> 1 Timestamp('1837-01-16 00:00:00')]
[11 29 10 Timestamp('1867-10-06 00:00:00')]
[13 1 10 Timestamp('1867-10-06 00:00:00')]
[12 <NA> 10 Timestamp('1867-10-06 00:00:00')]
[12 <NA> 11 Timestamp('1855-11-07 00:00:00')]
[13 <NA> 11 Timestamp('1855-11-07 00:00:00')]
[13 <NA> 11 Timestamp('1855-11-07 00:00:00')]
[14 <NA> 11 Timestamp('1855-11-07 00:00:00')]
[15 <NA> 11 Timestamp('1855-11-07 00:00:00')]
[8 <NA> 7 Timestamp('1858-07-07 00:00:00')]
[10 <NA> 7 Timestamp('1858-07-07 00:00:00')]
[24 <NA> 8 Timestamp('1887-08-25 00:00:00')]
[24 <NA> 8 Timestamp('1887-08-25 00:00:00')]
[23 <NA> 2 Timestamp('1872-02-23 00:00:00')]
[20 <NA> 3 Timestamp('1885-06-21 00:00:00')]
[20 <NA> 5 Timestamp('1885-06-21 00:00:00')]
[1 <NA> 7 Timestamp('1885-06-21 00:00:00')]
[1 <NA> 7 Timestamp('1885-06-21 00:00:00')]
[20 <NA> 3 Timestamp('1885-06-21 00:00:00')]
[20 <NA> 5 Timestamp('1885-06-21 00:00:00')]
[1 <NA> 7 Timestamp('1885-06-21 00:00:00')]
[1 <NA> 1 Timestamp('1885-06-21 00:00:00')]
[28 16 6 Timestamp('1871-06-18 00:00:00')]
[28 16 6 Timestamp('1871-06-18 00:00:00')]
[27 15 6 Timestamp('1871-06-18 00:00:00')]
[27 15 6 Timestamp('1871-06-18 00:00:00')]
[28 16 6 Timestamp('1871-06-18 00:00:00')]
[28 16 6 Timestamp('1871-06-18 00:00:00')]
[27 15 6 Timestamp('1871-06-18 00:00:00')]
[19 <NA> 2 Timestamp('1853-02-20 00:00:00')]
[23 <NA> 2 Timestamp('1853-02-20 00:00:00')]
[9 28 4 Timestamp('1877-03-31 00:00:00')]
[9 28 4 Timestamp('1877-03-31 00:00:00')]
[28 <NA> 5 Timestamp('1863-05-29 00:00:00')]
[29 <NA> 5 Timestamp('1863-05-29 00:00:00')]
[29 <NA> 5 Timestamp('1863-05-29 00:00:00')]
[28 <NA> 5 Timestamp('1863-05-29 00:00:00')]
[13 <NA> 9 Timestamp('1857-09-05 00:00:00')]
[15 <NA> 5 Timestamp('1860-05-10 00:00:00')]
[7 <NA> 11 Timestamp('1880-11-10 00:00:00')]
[20 8 11 Timestamp('1880-11-10 00:00:00')]
[17 5 11 Timestamp('1866-11-21 00:00:00')]
[26 <NA> 11 Timestamp('1866-11-21 00:00:00')]
[15 <NA> 9 Timestamp('1866-11-21 00:00:00')]
[11 <NA> 1 Timestamp('1883-01-12 00:00:00')]
[11 <NA> 7 Timestamp('1888-07-11 00:00:00')]
[11 <NA> 7 Timestamp('1888-07-11 00:00:00')]
[12 <NA> 12 Timestamp('1880-12-13 00:00:00')]
[12 <NA> 12 Timestamp('1880-12-13 00:00:00')]
[24 12 12 Timestamp('1880-12-13 00:00:00')]
[24 12 12 Timestamp('1880-12-13 00:00:00')]
[23 11 12 Timestamp('1880-12-13 00:00:00')]
[24 12 12 Timestamp('1880-12-13 00:00:00')]
[24 12 12 Timestamp('1880-12-13 00:00:00')]
[17 <NA> 3 Timestamp('1835-03-18 00:00:00')]
[27 <NA> 1 Timestamp('1835-03-18 00:00:00')]
[12 <NA> 11 Timestamp('1817-11-24 00:00:00')]
[29 <NA> 9 Timestamp('1843-10-07 00:00:00')]
[28 <NA> 9 Timestamp('1839-09-28 00:00:00')]
[4 <NA> 9 Timestamp('1839-09-28 00:00:00')]
[24 <NA> 7 Timestamp('1839-09-28 00:00:00')]
[20 <NA> 8 Timestamp('1839-09-28 00:00:00')]
[19 <NA> 11 Timestamp('1849-11-12 00:00:00')]
[28 <NA> 5 Timestamp('1849-11-12 00:00:00')]
[28 <NA> 5 Timestamp('1849-11-12 00:00:00')]
[26 <NA> 5 Timestamp('1849-11-12 00:00:00')]
[16 <NA> 11 Timestamp('1849-11-12 00:00:00')]
[11 <NA> 11 Timestamp('1849-11-12 00:00:00')]
[14 <NA> 11 Timestamp('1849-11-12 00:00:00')]
[12 <NA> 8 Timestamp('1854-08-18 00:00:00')]
[15 <NA> 5 Timestamp('1880-05-15 00:00:00')]
[15 <NA> 5 Timestamp('1880-05-15 00:00:00')]
[15 <NA> 5 Timestamp('1880-05-15 00:00:00')]
[26 14 5 Timestamp('1880-05-15 00:00:00')]
[26 14 5 Timestamp('1880-05-15 00:00:00')]
[27 15 5 Timestamp('1880-05-15 00:00:00')]
[27 15 5 Timestamp('1880-05-15 00:00:00')]
[30 <NA> 7 Timestamp('1846-08-02 00:00:00')]
[21 <NA> 11 Timestamp('1858-11-14 00:00:00')]
[<NA> 12 6 Timestamp('1869-06-17 00:00:00')]
[28 <NA> 1 Timestamp('1825-02-24 00:00:00')]
[4 <NA> 8 Timestamp('1832-08-23 00:00:00')]
[13 <NA> 11 Timestamp('1861-11-17 00:00:00')]
[11 <NA> 11 Timestamp('1861-11-17 00:00:00')]
[24 12 3 Timestamp('1886-03-15 00:00:00')]
[24 12 3 Timestamp('1886-03-15 00:00:00')]
[25 13 3 Timestamp('1886-03-15 00:00:00')]
[24 12 3 Timestamp('1886-03-15 00:00:00')]
[24 12 3 Timestamp('1886-03-15 00:00:00')]
[20 <NA> 3 Timestamp('1836-03-21 00:00:00')]
[25 <NA> 3 Timestamp('1836-03-21 00:00:00')]
[20 <NA> 6 Timestamp('1816-07-26 00:00:00')]
[25 <NA> 11 Timestamp('1861-12-01 00:00:00')]
[5 24 4 Timestamp('1862-03-31 00:00:00')]
[6 25 4 Timestamp('1862-03-31 00:00:00')]
[19 <NA> 1 Timestamp('1859-03-05 00:00:00')]
[16 <NA> 4 Timestamp('1817-05-02 00:00:00')]
[27 <NA> 1 Timestamp('1842-01-31 00:00:00')]
[23 <NA> 12 Timestamp('1842-01-31 00:00:00')]
[24 <NA> 7 Timestamp('1853-07-22 00:00:00')]
[28 <NA> 7 Timestamp('1853-07-22 00:00:00')]
[19 <NA> 7 Timestamp('1853-07-22 00:00:00')]
[15 <NA> 12 Timestamp('1825-01-23 00:00:00')]
[11 <NA> 3 Timestamp('1812-03-16 00:00:00')]
[30 <NA> 9 Timestamp('1881-02-17 00:00:00')]
[27 <NA> 2 Timestamp('1821-03-05 00:00:00')]
[27 <NA> 9 Timestamp('1855-09-20 00:00:00')]
[23 <NA> 9 Timestamp('1855-09-20 00:00:00')]
[29 <NA> 12 Timestamp('1811-01-11 00:00:00')]
[3 <NA> 1 Timestamp('1810-01-22 00:00:00')]
[1 19 10 Timestamp('1871-09-22 00:00:00')]
[18 <NA> 5 Timestamp('1834-06-09 00:00:00')]
[20 <NA> 4 Timestamp('1834-06-09 00:00:00')]
[9 <NA> 5 Timestamp('1824-05-16 00:00:00')]
[5 <NA> 8 Timestamp('1846-08-17 00:00:00')]
[27 15 11 Timestamp('1878-11-18 00:00:00')]
[9 <NA> 10 Timestamp('1880-09-29 00:00:00')]
[8 <NA> 10 Timestamp('1880-09-29 00:00:00')]
[6 <NA> 10 Timestamp('1880-09-29 00:00:00')]
[7 <NA> 10 Timestamp('1852-10-04 00:00:00')]
[20 <NA> 12 Timestamp('1816-12-30 00:00:00')]
[1 <NA> 9 Timestamp('1865-08-26 00:00:00')]
[3 <NA> 1 Timestamp('1817-01-13 00:00:00')]
[21 <NA> 3 Timestamp('1844-03-28 00:00:00')]
[15 8 9 Timestamp('1887-09-03 00:00:00')]
[22 10 6 Timestamp('1871-06-16 00:00:00')]
[23 11 6 Timestamp('1871-06-16 00:00:00')]
[22 <NA> 3 Timestamp('1860-11-21 00:00:00')]
[17 <NA> 1 Timestamp('1860-01-13 00:00:00')]
[18 <NA> 1 Timestamp('1860-01-13 00:00:00')]
[21 <NA> 1 Timestamp('1860-01-13 00:00:00')]
[28 <NA> 1 Timestamp('1867-01-28 00:00:00')]
[5 <NA> 12 Timestamp('1867-01-28 00:00:00')]
[13 <NA> 12 Timestamp('1867-01-28 00:00:00')]
[11 30 8 Timestamp('1884-08-01 00:00:00')]
[31 <NA> 10 Timestamp('1884-08-01 00:00:00')]
[25 <NA> 4 Timestamp('1860-05-02 00:00:00')]
[3 <NA> 2 Timestamp('1804-02-17 00:00:00')]
[6 <NA> 9 Timestamp('1828-09-08 00:00:00')]
[26 <NA> 10 Timestamp('1867-10-27 00:00:00')]
[18 <NA> 10 Timestamp('1867-10-27 00:00:00')]
[16 <NA> 8 Timestamp('1869-08-16 00:00:00')]
[30 <NA> 10 Timestamp('1840-10-19 00:00:00')]
[20 <NA> 3 Timestamp('1825-03-24 00:00:00')]
[22 <NA> 3 Timestamp('1825-03-24 00:00:00')]
[8 <NA> 8 Timestamp('1831-08-20 00:00:00')]
[28 16 1 Timestamp('1884-01-18 00:00:00')]
[28 16 1 Timestamp('1884-01-18 00:00:00')]
[27 15 1 Timestamp('1884-01-18 00:00:00')]
[28 16 1 Timestamp('1884-01-18 00:00:00')]
[28 16 1 Timestamp('1884-01-18 00:00:00')]
[21 <NA> 4 Timestamp('1833-04-25 00:00:00')]
[20 <NA> 8 Timestamp('1839-09-07 00:00:00')]
[17 <NA> 12 Timestamp('1877-12-19 00:00:00')]
[21 <NA> 11 Timestamp('1807-12-07 00:00:00')]
[25 <NA> 5 Timestamp('1831-06-04 00:00:00')]
[27 <NA> 7 Timestamp('1875-07-21 00:00:00')]
[24 12 7 Timestamp('1875-07-21 00:00:00')]
[29 <NA> 10 Timestamp('1843-12-03 00:00:00')]
[16 <NA> 11 Timestamp('1843-12-03 00:00:00')]
[13 1 5 Timestamp('1865-05-05 00:00:00')]
[13 <NA> 12 Timestamp('1865-05-05 00:00:00')]
[26 <NA> 1 Timestamp('1865-05-05 00:00:00')]
[30 <NA> 12 Timestamp('1834-01-01 00:00:00')]
[22 <NA> 11 Timestamp('1869-11-22 00:00:00')]
[5 <NA> 8 Timestamp('1874-07-27 00:00:00')]
[5 24 8 Timestamp('1874-07-27 00:00:00')]
[22 <NA> 3 Timestamp('1869-03-17 00:00:00')]
[2 20 12 Timestamp('1877-11-24 00:00:00')]
[16 <NA> 10 Timestamp('1849-10-13 00:00:00')]
[2 20 5 Timestamp('1885-04-23 00:00:00')]
[2 <NA> 5 Timestamp('1885-04-23 00:00:00')]
[2 <NA> 5 Timestamp('1885-04-23 00:00:00')]
[2 20 5 Timestamp('1885-04-23 00:00:00')]
[2 20 5 Timestamp('1885-04-23 00:00:00')]
[25 <NA> 11 Timestamp('1828-12-04 00:00:00')]
[30 <NA> 8 Timestamp('1858-08-30 00:00:00')]
[28 <NA> 8 Timestamp('1858-08-30 00:00:00')]
[26 <NA> 8 Timestamp('1858-08-30 00:00:00')]
[27 <NA> 8 Timestamp('1858-08-30 00:00:00')]
[14 <NA> 7 Timestamp('1858-08-30 00:00:00')]
[28 <NA> 8 Timestamp('1858-08-30 00:00:00')]
[5 17 8 Timestamp('1858-08-30 00:00:00')]
[7 26 2 Timestamp('1876-01-30 00:00:00')]
[3 <NA> 8 Timestamp('1828-08-21 00:00:00')]
[24 12 8 Timestamp('1881-08-15 00:00:00')]
[13 <NA> 11 Timestamp('1839-11-18 00:00:00')]
[25 <NA> 4 Timestamp('1822-05-20 00:00:00')]
[24 <NA> 6 Timestamp('1846-06-22 00:00:00')]
[15 3 11 Timestamp('1873-11-03 00:00:00')]
[14 2 11 Timestamp('1873-11-03 00:00:00')]
[2 <NA> 11 Timestamp('1873-11-03 00:00:00')]
[2 <NA> 11 Timestamp('1873-11-03 00:00:00')]
[2 <NA> 11 Timestamp('1873-11-03 00:00:00')]
[2 <NA> 11 Timestamp('1873-11-03 00:00:00')]
[2 <NA> 11 Timestamp('1873-11-03 00:00:00')]
[14 2 11 Timestamp('1873-11-03 00:00:00')]
[14 2 11 Timestamp('1873-11-03 00:00:00')]
[14 2 11 Timestamp('1873-11-03 00:00:00')]
[14 2 11 Timestamp('1873-11-03 00:00:00')]
[14 2 11 Timestamp('1873-11-03 00:00:00')]
[2 <NA> 9 Timestamp('1877-09-03 00:00:00')]
[31 19 10 Timestamp('1881-10-22 00:00:00')]
[1 20 11 Timestamp('1881-10-22 00:00:00')]
[31 19 10 Timestamp('1881-10-22 00:00:00')]
[31 19 10 Timestamp('1881-10-22 00:00:00')]
[31 19 10 Timestamp('1881-10-22 00:00:00')]
[31 19 10 Timestamp('1881-10-22 00:00:00')]
[31 19 10 Timestamp('1881-10-22 00:00:00')]
[31 19 10 Timestamp('1881-10-22 00:00:00')]
[13 <NA> 12 Timestamp('1886-12-13 00:00:00')]

[9 <NA> 12 Timestamp('1886-12-13 00:00:00')]
[11 <NA> 12 Timestamp('1886-12-13 00:00:00')]
[11 <NA> 12 Timestamp('1886-12-13 00:00:00')]
[25 13 3 Timestamp('1872-03-17 00:00:00')]
[26 14 3 Timestamp('1872-03-17 00:00:00')]
[25 13 3 Timestamp('1872-03-17 00:00:00')]
[8 <NA> 8 Timestamp('1841-08-14 00:00:00')]
[9 <NA> 8 Timestamp('1841-08-14 00:00:00')]
[3 <NA> 4 Timestamp('1863-04-03 00:00:00')]
[30 <NA> 3 Timestamp('1863-04-03 00:00:00')]
[3 <NA> 4 Timestamp('1863-04-03 00:00:00')]
[31 <NA> 7 Timestamp('1832-08-06 00:00:00')]
[13 <NA> 8 Timestamp('1876-08-16 00:00:00')]
[16 <NA> 10 Timestamp('1880-10-16 00:00:00')]
[16 <NA> 10 Timestamp('1880-10-16 00:00:00')]
[3 <NA> 10 Timestamp('1880-10-16 00:00:00')]
[12 <NA> 10 Timestamp('1880-10-16 00:00:00')]
[1 <NA> 10 Timestamp('1880-10-16 00:00:00')]
[29 17 9 Timestamp('1876-09-18 00:00:00')]
[29 17 9 Timestamp('1876-09-18 00:00:00')]
[30 18 9 Timestamp('1876-09-18 00:00:00')]
[28 16 9 Timestamp('1876-09-18 00:00:00')]
[17 <NA> 9 Timestamp('1876-09-18 00:00:00')]
[17 <NA> 9 Timestamp('1876-09-18 00:00:00')]
[17 <NA> 9 Timestamp('1876-09-18 00:00:00')]
[28 16 9 Timestamp('1876-09-18 00:00:00')]
[29 17 9 Timestamp('1876-09-18 00:00:00')]
[30 18 10 Timestamp('1875-10-20 00:00:00')]
[29 17 10 Timestamp('1875-10-20 00:00:00')]
[30 18 10 Timestamp('1875-10-20 00:00:00')]
[29 17 10 Timestamp('1875-10-20 00:00:00')]
[29 17 10 Timestamp('1875-10-20 00:00:00')]
[13 <NA> 4 Timestamp('1858-04-10 00:00:00')]
[14 <NA> 1 Timestamp('1858-04-10 00:00:00')]
[14 <NA> 4 Timestamp('1858-04-10 00:00:00')]
[26 14 2 Timestamp('1861-02-21 00:00:00')]
[3 <NA> 4 Timestamp('1861-02-21 00:00:00')]
[22 <NA> 1 Timestamp('1833-01-24 00:00:00')]
[6 <NA> 2 Timestamp('1887-02-07 00:00:00')]
[26 <NA> 9 Timestamp('1805-10-07 00:00:00')]
[2 <NA> 5 Timestamp('1872-05-08 00:00:00')]
[8 <NA> 11 Timestamp('1867-10-31 00:00:00')]
[<NA> <NA> 11 Timestamp('1867-10-31 00:00:00')]
[7 <NA> 11 Timestamp('1867-10-31 00:00:00')]
[<NA> <NA> 11 Timestamp('1867-10-31 00:00:00')]
[11 <NA> 11 Timestamp('1867-10-31 00:00:00')]
[30 <NA> 10 Timestamp('1867-10-31 00:00:00')]
[30 <NA> 10 Timestamp('1867-10-31 00:00:00')]
[11 <NA> 11 Timestamp('1867-10-31 00:00:00')]
[15 3 2 Timestamp('1876-02-05 00:00:00')]
[22 <NA> 9 Timestamp('1828-10-04 00:00:00')]
[14 <NA> 8 Timestamp('1853-08-20 00:00:00')]
[17 <NA> 3 Timestamp('1884-03-17 00:00:00')]
[17 <NA> 3 Timestamp('1884-03-17 00:00:00')]
[11 <NA> 8 Timestamp('1829-08-20 00:00:00')]
[11 <NA> 1 Timestamp('1884-01-14 00:00:00')]
[5 <NA> 12 Timestamp('1884-01-14 00:00:00')]
[31 <NA> 12 Timestamp('1884-01-14 00:00:00')]
[5 <NA> 12 Timestamp('1884-01-14 00:00:00')]
[<NA> <NA> 11 Timestamp('1884-01-14 00:00:00')]
[6 <NA> 11 Timestamp('1881-07-11 00:00:00')]
[28 <NA> 7 Timestamp('1856-08-04 00:00:00')]
[4 <NA> 1 Timestamp('1808-02-01 00:00:00')]
[25 13 12 Timestamp('1865-12-21 00:00:00')]
[28 <NA> 8 Timestamp('1828-09-04 00:00:00')]
[5 <NA> 7 Timestamp('1828-09-04 00:00:00')]
[3 <NA> 5 Timestamp('1870-04-29 00:00:00')]
[27 <NA> 2 Timestamp('1855-02-24 00:00:00')]
[4 <NA> 3 Timestamp('1855-02-24 00:00:00')]
[4 <NA> 3 Timestamp('1855-02-24 00:00:00')]
[4 <NA> 3 Timestamp('1855-02-24 00:00:00')]
[11 <NA> 4 Timestamp('1851-04-23 00:00:00')]
[25 <NA> 4 Timestamp('1859-04-20 00:00:00')]
[9 <NA> 9 Timestamp('1867-09-11 00:00:00')]
[19 5 9 Timestamp('1867-09-11 00:00:00')]
[19 7 9 Timestamp('1867-09-11 00:00:00')]
[21 9 9 Timestamp('1867-09-11 00:00:00')]
[20 8 9 Timestamp('1867-09-11 00:00:00')]
[19 7 9 Timestamp('1867-09-11 00:00:00')]
[20 8 9 Timestamp('1867-09-11 00:00:00')]
[20 8 9 Timestamp('1867-09-11 00:00:00')]
[20 8 9 Timestamp('1867-09-11 00:00:00')]
[21 9 9 Timestamp('1867-09-11 00:00:00')]
[21 9 9 Timestamp('1867-09-11 00:00:00')]
[22 10 9 Timestamp('1867-09-11 00:00:00')]
[21 9 9 Timestamp('1867-09-11 00:00:00')]
[21 9 9 Timestamp('1867-09-11 00:00:00')]
[21 9 9 Timestamp('1867-09-11 00:00:00')]
[17 <NA> 12 Timestamp('1884-12-19 00:00:00')]
[29 <NA> 12 Timestamp('1884-12-19 00:00:00')]
[21 <NA> 2 Timestamp('1853-02-19 00:00:00')]
[22 <NA> 2 Timestamp('1853-02-19 00:00:00')]
[25 <NA> 2 Timestamp('1853-02-19 00:00:00')]
[19 <NA> 2 Timestamp('1853-02-19 00:00:00')]
[23 <NA> 2 Timestamp('1853-02-19 00:00:00')]
[27 <NA> 2 Timestamp('1853-02-19 00:00:00')]
[1 <NA> 11 Timestamp('1853-02-19 00:00:00')]
[17 <NA> 2 Timestamp('1867-02-17 00:00:00')]
[13 <NA> 2 Timestamp('1867-02-17 00:00:00')]
[6 <NA> 2 Timestamp('1867-02-17 00:00:00')]
[28 <NA> 4 Timestamp('1820-05-05 00:00:00')]
[27 <NA> 3 Timestamp('1807-03-30 00:00:00')]
[24 <NA> 2 Timestamp('1835-02-27 00:00:00')]
[1 <NA> 5 Timestamp('1861-02-24 00:00:00')]
[2 <NA> 3 Timestamp('1861-02-24 00:00:00')]
[1 <NA> 3 Timestamp('1861-02-24 00:00:00')]
[29 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[28 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[28 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[28 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[29 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[31 <NA> 1 Timestamp('1859-12-22 00:00:00')]
[18 <NA> 5 Timestamp('1859-12-22 00:00:00')]
[22 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[31 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[31 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[30 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[30 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[28 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[20 <NA> 7 Timestamp('1859-12-22 00:00:00')]
[28 <NA> 12 Timestamp('1859-12-22 00:00:00')]
[6 <NA> 1 Timestamp('1848-12-30 00:00:00')]
[1 <NA> 1 Timestamp('1848-12-30 00:00:00')]
[30 <NA> 9 Timestamp('1858-09-27 00:00:00')]
[2 <NA> 10 Timestamp('1858-09-27 00:00:00')]
[3 <NA> 10 Timestamp('1858-09-27 00:00:00')]
[30 <NA> 4 Timestamp('1877-04-30 00:00:00')]
[14 2 12 Timestamp('1865-12-10 00:00:00')]
[20 <NA> 12 Timestamp('1823-12-28 00:00:00')]
[5 24 11 Timestamp('1878-10-27 00:00:00')]
[23 <NA> 12 Timestamp('1878-10-27 00:00:00')]
[23 <NA> 7 Timestamp('1878-10-27 00:00:00')]
[22 <NA> 8 Timestamp('1878-10-27 00:00:00')]
[27 <NA> 9 Timestamp('1878-10-27 00:00:00')]
[7 <NA> 7 Timestamp('1878-10-27 00:00:00')]
[21 <NA> 7 Timestamp('1878-10-27 00:00:00')]
[21 <NA> 4 Timestamp('1831-05-02 00:00:00')]
[4 <NA> 8 Timestamp('1814-08-05 00:00:00')]
[30 <NA> 7 Timestamp('1854-07-29 00:00:00')]
[8 <NA> 2 Timestamp('1866-04-04 00:00:00')]
[30 <NA> 4 Timestamp('1850-05-08 00:00:00')]
[16 <NA> 10 Timestamp('1886-10-16 00:00:00')]
[12 <NA> 10 Timestamp('1886-10-16 00:00:00')]
[<NA> <NA> 10 Timestamp('1886-10-16 00:00:00')]
[14 <NA> 10 Timestamp('1886-10-16 00:00:00')]
[27 15 2 Timestamp('1866-02-26 00:00:00')]
[12 <NA> 11 Timestamp('1888-11-12 00:00:00')]
[12 <NA> 11 Timestamp('1888-11-12 00:00:00')]
[12 <NA> 11 Timestamp('1888-11-12 00:00:00')]
[2 <NA> 11 Timestamp('1863-11-02 00:00:00')]
[19 <NA> 1 Timestamp('1875-01-16 00:00:00')]
[3 <NA> 3 Timestamp('1865-03-03 00:00:00')]
[12 <NA> 2 Timestamp('1865-03-03 00:00:00')]
[28 <NA> 4 Timestamp('1850-05-04 00:00:00')]
[23 <NA> 4 Timestamp('1850-05-04 00:00:00')]
[3 <NA> 10 Timestamp('1867-10-04 00:00:00')]
[17 <NA> 8 Timestamp('1869-09-10 00:00:00')]
[19 <NA> 1 Timestamp('1863-01-19 00:00:00')]
[11 <NA> 1 Timestamp('1863-01-19 00:00:00')]
[26 <NA> 1 Timestamp('1863-01-19 00:00:00')]
[26 <NA> 11 Timestamp('1851-12-03 00:00:00')]
[22 <NA> 11 Timestamp('1851-12-03 00:00:00')]
[24 <NA> 11 Timestamp('1851-12-03 00:00:00')]
[30 18 7 Timestamp('1864-07-22 00:00:00')]
[31 19 7 Timestamp('1864-07-22 00:00:00')]
[16 <NA> 11 Timestamp('1858-11-13 00:00:00')]
[18 <NA> 11 Timestamp('1858-11-13 00:00:00')]
[25 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[27 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[28 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[28 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[25 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[27 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[30 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[26 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[27 <NA> 8 Timestamp('1860-08-22 00:00:00')]
[25 <NA> 4 Timestamp('1863-06-04 00:00:00')]
[25 <NA> 4 Timestamp('1863-06-04 00:00:00')]
[10 <NA> 7 Timestamp('1863-06-04 00:00:00')]
[19 <NA> 2 Timestamp('1863-06-04 00:00:00')]
[6 <NA> 6 Timestamp('1863-06-04 00:00:00')]
[7 <NA> 5 Timestamp('1873-05-07 00:00:00')]
[6 <NA> 5 Timestamp('1873-05-07 00:00:00')]
[28 <NA> 3 Timestamp('1867-04-26 00:00:00')]
[9 <NA> 2 Timestamp('1867-04-26 00:00:00')]
[9 <NA> 10 Timestamp('1872-10-05 00:00:00')]
[27 <NA> 1 Timestamp('1885-01-28 00:00:00')]
[8 27 2 Timestamp('1885-01-28 00:00:00')]
[8 27 2 Timestamp('1885-01-28 00:00:00')]
[20 <NA> 8 Timestamp('1836-09-05 00:00:00')]
[26 <NA> 10 Timestamp('1873-10-26 00:00:00')]
[20 <NA> 6 Timestamp('1860-06-17 00:00:00')]
[9 27 12 Timestamp('1865-11-27 00:00:00')]
[7 <NA> 5 Timestamp('1871-04-29 00:00:00')]
[10 <NA> 1 Timestamp('1812-02-21 00:00:00')]
[28 <NA> 1 Timestamp('1885-01-23 00:00:00')]
[7 <NA> 9 Timestamp('1816-12-02 00:00:00')]
[2 <NA> 6 Timestamp('1841-06-07 00:00:00')]
[4 <NA> 3 Timestamp('1861-03-04 00:00:00')]
[10 <NA> 9 Timestamp('1867-09-04 00:00:00')]
[22 10 1 Timestamp('1881-01-14 00:00:00')]
[23 <NA> 12 Timestamp('1851-12-20 00:00:00')]
[19 <NA> 9 Timestamp('1859-11-17 00:00:00')]
[26 <NA> 10 Timestamp('1859-11-17 00:00:00')]
[7 <NA> 11 Timestamp('1859-11-17 00:00:00')]
[12 <NA> 11 Timestamp('1859-11-17 00:00:00')]
[20 8 9 Timestamp('1878-09-12 00:00:00')]
[14 <NA> 1 Timestamp('1883-01-14 00:00:00')]
[8 <NA> 1 Timestamp('1831-01-15 00:00:00')]
[3 <NA> 1 Timestamp('1831-01-15 00:00:00')]
[20 <NA> 2 Timestamp('1850-02-25 00:00:00')]
[11 <NA> 2 Timestamp('1850-02-25 00:00:00')]
[17 <NA> 2 Timestamp('1850-02-25 00:00:00')]
[16 <NA> 5 Timestamp('1843-05-27 00:00:00')]
[11 <NA> 7 Timestamp('1841-07-10 00:00:00')]
[27 <NA> 3 Timestamp('1841-07-10 00:00:00')]
[21 <NA> 10 Timestamp('1856-10-15 00:00:00')]
[21 <NA> 1 Timestamp('1847-01-23 00:00:00')]
[30 <NA> 1 Timestamp('1847-01-23 00:00:00')]
[6 <NA> 9 Timestamp('1869-09-06 00:00:00')]
[3 <NA> 3 Timestamp('1814-03-11 00:00:00')]
[14 <NA> 12 Timestamp('1883-12-15 00:00:00')]
[2 <NA> 1 Timestamp('1871-01-02 00:00:00')]
[18 <NA> 10 Timestamp('1855-10-26 00:00:00')]
[10 <NA> 10 Timestamp('1855-10-26 00:00:00')]
[12 <NA> 10 Timestamp('1855-10-26 00:00:00')]
[30 <NA> 11 Timestamp('1870-11-24 00:00:00')]
[3 <NA> 12 Timestamp('1870-11-24 00:00:00')]
[3 21 12 Timestamp('1870-11-24 00:00:00')]
[4 <NA> 12 Timestamp('1870-11-24 00:00:00')]
[3 <NA> 12 Timestamp('1870-11-24 00:00:00')]
[3 <NA> 12 Timestamp('1870-11-24 00:00:00')]
[4 <NA> 12 Timestamp('1870-11-24 00:00:00')]
[3 <NA> 12 Timestamp('1870-11-24 00:00:00')]
[4 22 12 Timestamp('1870-11-24 00:00:00')]
[1 <NA> 7 Timestamp('1828-06-30 00:00:00')]
[29 <NA> 6 Timestamp('1828-06-30 00:00:00')]
[17 <NA> 6 Timestamp('1828-07-03 00:00:00')]
[19 <NA> 7 Timestamp('1856-07-17 00:00:00')]
[20 <NA> 7 Timestamp('1856-07-17 00:00:00')]
[3 <NA> 4 Timestamp('1854-03-27 00:00:00')]
[1 <NA> 4 Timestamp('1854-03-27 00:00:00')]
[7 <NA> 10 Timestamp('1886-09-27 00:00:00')]
[7 25 10 Timestamp('1886-09-27 00:00:00')]
[7 25 10 Timestamp('1886-09-27 00:00:00')]
[6 24 7 Timestamp('1876-06-28 00:00:00')]
[16 <NA> 1 Timestamp('1816-01-26 00:00:00')]
[16 4 6 Timestamp('1870-06-12 00:00:00')]
[1 <NA> 12 Timestamp('1848-12-24 00:00:00')]
[24 <NA> 12 Timestamp('1848-12-24 00:00:00')]
[29 <NA> 3 Timestamp('1845-04-03 00:00:00')]
[9 <NA> 3 Timestamp('1845-04-03 00:00:00')]
[12 <NA> 4 Timestamp('1845-04-03 00:00:00')]
[26 <NA> 3 Timestamp('1845-04-03 00:00:00')]
[21 <NA> 3 Timestamp('1845-04-03 00:00:00')]
[16 <NA> 2 Timestamp('1845-04-03 00:00:00')]
[8 <NA> 3 Timestamp('1845-04-03 00:00:00')]
[31 <NA> 3 Timestamp('1845-04-03 00:00:00')]
[20 <NA> 4 Timestamp('1817-04-25 00:00:00')]
[28 <NA> 9 Timestamp('1861-10-04 00:00:00')]
[3 <NA> 10 Timestamp('1861-10-04 00:00:00')]
[1 <NA> 4 Timestamp('1829-04-13 00:00:00')]
[30 <NA> 5 Timestamp('1830-05-31 00:00:00')]
[29 <NA> 7 Timestamp('1857-07-22 00:00:00')]
[28 <NA> 7 Timestamp('1857-07-22 00:00:00')]
[30 <NA> 7 Timestamp('1857-07-22 00:00:00')]
[29 <NA> 7 Timestamp('1857-07-22 00:00:00')]
[24 <NA> 7 Timestamp('1857-07-22 00:00:00')]
[29 <NA> 7 Timestamp('1857-07-22 00:00:00')]
[25 <NA> 7 Timestamp('1857-07-22 00:00:00')]
[26 <NA> 5 Timestamp('1857-05-22 00:00:00')]
[8 <NA> 4 Timestamp('1819-04-09 00:00:00')]
[4 23 6 Timestamp('1869-05-28 00:00:00')]
[28 <NA> 3 Timestamp('1878-03-30 00:00:00')]
[29 <NA> 3 Timestamp('1878-03-30 00:00:00')]
[9 28 4 Timestamp('1878-03-30 00:00:00')]
[10 29 4 Timestamp('1878-03-30 00:00:00')]
[25 <NA> 1 Timestamp('1839-01-25 00:00:00')]
[28 <NA> 8 Timestamp('1853-08-28 00:00:00')]
[2 <NA> 9 Timestamp('1853-08-28 00:00:00')]
[4 23 8 Timestamp('1886-07-24 00:00:00')]
[4 23 8 Timestamp('1886-07-24 00:00:00')]
[8 22 8 Timestamp('1886-07-24 00:00:00')]
[3 22 8 Timestamp('1886-07-24 00:00:00')]
[3 22 8 Timestamp('1886-07-24 00:00:00')]
[2 <NA> 4 Timestamp('1855-05-07 00:00:00')]
[14 <NA> 8 Timestamp('1872-08-14 00:00:00')]
[10 <NA> 8 Timestamp('1872-08-14 00:00:00')]
[10 <NA> 8 Timestamp('1872-08-14 00:00:00')]
[17 5 11 Timestamp('1874-11-09 00:00:00')]
[16 4 11 Timestamp('1874-11-09 00:00:00')]
[20 8 11 Timestamp('1871-11-15 00:00:00')]
[16 <NA> 8 Timestamp('1857-08-23 00:00:00')]
[7 <NA> 8 Timestamp('1857-08-23 00:00:00')]
[1 19 2 Timestamp('1862-01-26 00:00:00')]
[20 <NA> 6 Timestamp('1862-01-26 00:00:00')]
[10 <NA> 3 Timestamp('1871-03-04 00:00:00')]
[10 <NA> 11 Timestamp('1861-11-06 00:00:00')]
[12 <NA> 11 Timestamp('1861-11-06 00:00:00')]
[25 <NA> 5 Timestamp('1862-05-29 00:00:00')]
[26 <NA> 5 Timestamp('1862-05-29 00:00:00')]
[28 <NA> 3 Timestamp('1878-04-01 00:00:00')]
[12 <NA> 4 Timestamp('1838-06-04 00:00:00')]
[4 <NA> 12 Timestamp('1818-12-11 00:00:00')]
[28 <NA> 1 Timestamp('1839-01-28 00:00:00')]
[20 <NA> 9 Timestamp('1818-09-21 00:00:00')]
[3 <NA> 3 Timestamp('1842-03-07 00:00:00')]
[6 <NA> 12 Timestamp('1842-03-07 00:00:00')]
[25 <NA> 6 Timestamp('1805-07-29 00:00:00')]
[30 <NA> 4 Timestamp('1831-05-16 00:00:00')]
[27 <NA> 4 Timestamp('1850-04-26 00:00:00')]
[14 2 4 Timestamp('1883-04-04 00:00:00')]
[14 2 4 Timestamp('1883-04-04 00:00:00')]
[15 1 4 Timestamp('1883-04-04 00:00:00')]
[13 1 4 Timestamp('1883-04-04 00:00:00')]
[13 1 4 Timestamp('1883-04-04 00:00:00')]
[14 2 4 Timestamp('1883-04-04 00:00:00')]
[21 <NA> 9 Timestamp('1878-09-22 00:00:00')]
[15 <NA> 8 Timestamp('1870-08-14 00:00:00')]
[16 <NA> 8 Timestamp('1870-08-14 00:00:00')]
[6 <NA> 9 Timestamp('1840-09-10 00:00:00')]
[18 6 12 Timestamp('1860-12-16 00:00:00')]
[18 6 12 Timestamp('1860-12-16 00:00:00')]
[15 <NA> 3 Timestamp('1852-03-29 00:00:00')]
[18 <NA> 3 Timestamp('1852-03-29 00:00:00')]
[10 <NA> 1 Timestamp('1844-01-26 00:00:00')]
[27 15 2 Timestamp('1868-02-17 00:00:00')]
[27 15 2 Timestamp('1868-02-17 00:00:00')]
[25 13 2 Timestamp('1868-02-17 00:00:00')]
[16 <NA> 2 Timestamp('1868-02-17 00:00:00')]
[28 16 2 Timestamp('1868-02-17 00:00:00')]
[3 <NA> 4 Timestamp('1871-04-03 00:00:00')]
[29 <NA> 3 Timestamp('1871-04-03 00:00:00')]
[26 <NA> 3 Timestamp('1871-04-03 00:00:00')]
[1 <NA> 4 Timestamp('1871-04-03 00:00:00')]
[19 <NA> 2 Timestamp('1871-04-03 00:00:00')]
[10 <NA> 3 Timestamp('1871-04-03 00:00:00')]
[30 <NA> 3 Timestamp('1871-04-03 00:00:00')]
[13 <NA> 6 Timestamp('1846-07-02 00:00:00')]
[4 <NA> 5 Timestamp('1848-05-10 00:00:00')]
[11 <NA> 4 Timestamp('1848-05-10 00:00:00')]
[30 <NA> 4 Timestamp('1848-05-10 00:00:00')]
[13 <NA> 4 Timestamp('1813-04-23 00:00:00')]
[4 <NA> 2 Timestamp('1830-02-06 00:00:00')]
[2 <NA> 12 Timestamp('1856-11-28 00:00:00')]
[29 <NA> 11 Timestamp('1838-12-24 00:00:00')]
[17 <NA> 9 Timestamp('1839-09-23 00:00:00')]
[2 <NA> 2 Timestamp('1885-02-02 00:00:00')]
[14 2 2 Timestamp('1885-02-02 00:00:00')]
[13 1 2 Timestamp('1885-02-02 00:00:00')]
[13 1 2 Timestamp('1885-02-02 00:00:00')]
[21 <NA> 10 Timestamp('1836-11-14 00:00:00')]
[30 <NA> 12 Timestamp('1846-12-27 00:00:00')]
[12 <NA> 4 Timestamp('1864-04-13 00:00:00')]
[9 <NA> 11 Timestamp('1831-11-10 00:00:00')]
[6 <NA> 6 Timestamp('1807-06-05 00:00:00')]
[14 2 7 Timestamp('1871-07-07 00:00:00')]
[1 <NA> 10 Timestamp('1863-10-08 00:00:00')]
[6 <NA> 9 Timestamp('1863-10-08 00:00:00')]
[1 <NA> 10 Timestamp('1863-10-08 00:00:00')]
[8 20 10 Timestamp('1863-10-08 00:00:00')]
[30 <NA> 9 Timestamp('1863-10-08 00:00:00')]
[14 <NA> 10 Timestamp('1863-10-08 00:00:00')]
[13 <NA> 7 Timestamp('1874-07-13 00:00:00')]
[13 <NA> 7 Timestamp('1874-07-13 00:00:00')]
[5 24 1 Timestamp('1876-12-27 00:00:00')]
[4 23 1 Timestamp('1876-12-27 00:00:00')]
[5 24 1 Timestamp('1876-12-27 00:00:00')]
[4 23 1 Timestamp('1876-12-27 00:00:00')]
[30 <NA> 1 Timestamp('1877-02-02 00:00:00')]
[11 30 2 Timestamp('1877-02-02 00:00:00')]
[10 <NA> 2 Timestamp('1877-02-02 00:00:00')]
[10 29 2 Timestamp('1877-02-02 00:00:00')]
[11 30 2 Timestamp('1877-02-02 00:00:00')]
[15 <NA> 12 Timestamp('1852-12-10 00:00:00')]
[15 <NA> 12 Timestamp('1852-12-10 00:00:00')]
[16 <NA> 11 Timestamp('1852-12-10 00:00:00')]
[16 <NA> 12 Timestamp('1852-12-10 00:00:00')]
[17 <NA> 12 Timestamp('1852-12-10 00:00:00')]
[18 <NA> 12 Timestamp('1852-12-10 00:00:00')]
[8 <NA> 1 Timestamp('1829-01-22 00:00:00')]
[24 <NA> 10 Timestamp('1881-10-26 00:00:00')]
[24 <NA> 10 Timestamp('1881-10-26 00:00:00')]
[21 <NA> 11 Timestamp('1829-12-24 00:00:00')]
[28 <NA> 1 Timestamp('1807-02-02 00:00:00')]
[11 <NA> 2 Timestamp('1829-02-16 00:00:00')]
[18 <NA> 1 Timestamp('1822-01-28 00:00:00')]
[1 20 6 Timestamp('1865-05-25 00:00:00')]
[3 22 6 Timestamp('1865-05-25 00:00:00')]
[25 <NA> 3 Timestamp('1865-05-25 00:00:00')]
[2 21 6 Timestamp('1865-05-25 00:00:00')]
[31 <NA> 12 Timestamp('1856-12-27 00:00:00')]
[3 <NA> 1 Timestamp('1856-12-27 00:00:00')]
[4 <NA> 1 Timestamp('1856-12-27 00:00:00')]
[7 <NA> 9 Timestamp('1855-09-10 00:00:00')]
[31 <NA> 8 Timestamp('1855-09-10 00:00:00')]
[11 <NA> 9 Timestamp('1855-09-10 00:00:00')]
[22 <NA> 7 Timestamp('1844-07-17 00:00:00')]
[15 <NA> 1 Timestamp('1860-01-16 00:00:00')]
[13 1 12 Timestamp('1862-12-04 00:00:00')]
[13 1 12 Timestamp('1862-12-04 00:00:00')]
[13 1 12 Timestamp('1862-12-04 00:00:00')]
[12 <NA> 12 Timestamp('1862-12-04 00:00:00')]
[13 1 12 Timestamp('1862-12-04 00:00:00')]
[17 <NA> 1 Timestamp('1823-01-30 00:00:00')]
[5 <NA> 5 Timestamp('1858-04-30 00:00:00')]
[8 <NA> 5 Timestamp('1858-04-30 00:00:00')]
[8 <NA> 5 Timestamp('1858-04-30 00:00:00')]
[16 4 4 Timestamp('1865-04-08 00:00:00')]
[2 <NA> 3 Timestamp('1865-04-08 00:00:00')]
[18 6 4 Timestamp('1865-04-08 00:00:00')]
[24 <NA> 8 Timestamp('1809-09-04 00:00:00')]
[9 25 3 Timestamp('1879-03-01 00:00:00')]
[3 <NA> 7 Timestamp('1832-07-05 00:00:00')]
[8 <NA> 2 Timestamp('1820-03-20 00:00:00')]
[5 24 9 Timestamp('1866-08-27 00:00:00')]
[5 24 9 Timestamp('1866-08-27 00:00:00')]
[4 <NA> 12 Timestamp('1885-12-04 00:00:00')]
[15 <NA> 4 Timestamp('1858-04-10 00:00:00')]
[19 <NA> 1 Timestamp('1808-02-01 00:00:00')]
[11 <NA> 2 Timestamp('1829-03-02 00:00:00')]
[24 <NA> 4 Timestamp('1817-05-05 00:00:00')]
[18 <NA> 4 Timestamp('1838-04-23 00:00:00')]
[16 <NA> 4 Timestamp('1858-04-10 00:00:00')]
[29 <NA> 10 Timestamp('1852-09-13 00:00:00')]
[5 <NA> 6 Timestamp('1835-06-08 00:00:00')]
[23 <NA> 12 Timestamp('1832-12-24 00:00:00')]
[15 <NA> 5 Timestamp('1844-05-19 00:00:00')]
[12 <NA> 7 Timestamp('1858-07-12 00:00:00')]
[8 <NA> 7 Timestamp('1858-07-12 00:00:00')]
[15 <NA> 5 Timestamp('1858-07-12 00:00:00')]
[30 <NA> 4 Timestamp('1854-04-26 00:00:00')]
[25 <NA> 4 Timestamp('1854-04-26 00:00:00')]
[8 27 2 Timestamp('1880-01-30 00:00:00')]
[10 <NA> 4 Timestamp('1810-04-30 00:00:00')]
[28 16 6 Timestamp('1866-06-18 00:00:00')]
[27 15 6 Timestamp('1866-06-18 00:00:00')]
[26 14 6 Timestamp('1866-06-18 00:00:00')]
[25 13 6 Timestamp('1866-06-18 00:00:00')]
[27 15 6 Timestamp('1866-06-18 00:00:00')]
[27 <NA> 7 Timestamp('1809-08-07 00:00:00')]
[22 10 10 Timestamp('1877-10-17 00:00:00')]
[21 9 1 Timestamp('1871-01-15 00:00:00')]
[4 <NA> 9 Timestamp('1871-01-15 00:00:00')]
[30 <NA> 4 Timestamp('1852-04-30 00:00:00')]
[1 <NA> 9 Timestamp('1865-09-02 00:00:00')]
[2 <NA> 9 Timestamp('1865-09-02 00:00:00')]
[11 <NA> 12 Timestamp('1818-12-28 00:00:00')]
[14 <NA> 12 Timestamp('1855-12-08 00:00:00')]

[8 <NA> 10 Timestamp('1864-09-29 00:00:00')]
[22 <NA> 8 Timestamp('1864-09-29 00:00:00')]
[25 <NA> 8 Timestamp('1864-09-29 00:00:00')]
[27 <NA> 4 Timestamp('1853-04-21 00:00:00')]
[10 <NA> 6 Timestamp('1867-06-29 00:00:00')]
[2 <NA> 7 Timestamp('1867-06-29 00:00:00')]
[4 22 7 Timestamp('1867-06-29 00:00:00')]
[3 <NA> 7 Timestamp('1867-06-29 00:00:00')]
[24 <NA> 2 Timestamp('1862-02-24 00:00:00')]
[16 <NA> 2 Timestamp('1862-02-24 00:00:00')]
[23 <NA> 2 Timestamp('1862-02-24 00:00:00')]
[20 <NA> 2 Timestamp('1862-02-24 00:00:00')]
[12 <NA> 10 Timestamp('1848-10-13 00:00:00')]
[6 <NA> 10 Timestamp('1848-10-13 00:00:00')]
[8 <NA> 10 Timestamp('1848-10-13 00:00:00')]

In [105]:
df.dropna(subset=['origin_date'], inplace=True)
df['origin_date'] = pd.to_datetime(df.origin_date)

KeyError: ['origin_date']

In [253]:
loaded_df = pd.read_csv('../data/processed_data_2.tsv', sep='\t', encoding='utf8')

In [278]:
loaded_df.doc_date = pd.to_datetime(loaded_df.doc_date, format='%Y-%m-%d', errors='coerce')
loaded_df.origin_date = pd.to_datetime(loaded_df.origin_date, format='%Y-%m-%d', errors='coerce')

In [297]:
loaded_df[loaded_df.delta < 0].sample(10)

,doc_id,doc_date,placename,day,day2,month,month2,start,end,year,origin_date,delta
115503,129162,1856-01-18,Kapitulation,29,NaN,9,NaN,1244,1275,1856,1856-09-17,-243
275995,251798,1880-02-25,Circulars,12,NaN,10,NaN,701,727,1880,1880-09-30,-218
302539,274997,1885-11-14,Wien,12,NaN,12,NaN,2323,2342,1885,1885-11-30,-16
269790,244907,1879-01-18,Vereins,23,NaN,10,NaN,2991,3015,1879,1879-10-11,-266
304147,276726,1886-04-15,Brustkreuz,26,NaN,5,NaN,11111,11134,1886,1886-05-14,-29
248243,227806,1876-03-09,Kaufmannschaft,6,NaN,11,NaN,5878,5909,1876,1876-10-25,-230
24519,34412,1828-06-02,Traktates,6,NaN,7,NaN,744,768,1828,1828-06-24,-22
303144,275619,1886-01-11,Schweden,13,NaN,7,NaN,12837,12859,1886,1886-07-01,-171
249081,228505,1876-04-24,Bauerverordnung,13,NaN,11,NaN,1277,1310,1876,1876-11-01,-191
157573,152996,1861-09-06,Rechberg,20,NaN,10,NaN,3117,3142,1861,1861-10-08,-32

In [60]:
# vorigen monat on valepidi!?
# 12-1 asemele 11/12-1/2
# pigem teha nii, et kui pole just järgmine kuu, on automaatselt eelmine aasta?

In [282]:
def debug_example(ix):
    doc_ix = loaded_df.loc[ix, 'doc_id']
    print(doc_ix)
    print(loaded_df.loc[ix, 'placename'])
   # print(main_df.loc[doc_ix, 'date'], '\n')
    print(loaded_df.loc[ix, ['day', 'day2', 'month', 'month2', 'doc_date']], '\n')
    print(verify_dates(ix, loaded_df))
    print(main_df.loc[doc_ix, 'full_text'])

In [286]:
loaded_df.loc[108836, 'doc_date'] - (loaded_df.loc[108836, 'origin_date'] - pd.)

Timedelta('-160 days +00:00:00')

In [298]:
debug_example(302539)

274997
Wien
day                          12
day2                        NaN
month                        12
month2                      NaN
doc_date    1885-11-14 00:00:00
Name: 302539, dtype: object

(Timestamp('1885-12-12 00:00:00'), [1, 1.2])
König Alfons von Spanien †.

	Run haben fich die HiobSposten, welche feit Monaten von einem gefährlichen Gesundheitszustand de» König» Alfons uissen wollten uud von der Madrider Regierung immer wieder dementirt wurden, in erschreckender Weise bewahrheitet: Der junge König, der übermorgen, am 28. (16.) No. vember, sein achtundzwanzigste» Lebensjahr vollendet haben würde, ist gestern gestorben, und so sehr man auch, nach den Meldungen der letzten Tage, auf die Wahrscheinlichkeit seine» nahen Ende» Vorbereitet war, erst der Eintritt desselben wirkt mit der Macht einer politischen Katastrophe.
Zunächst ist eS die Empfindung einer tiefen Rührung und Trauer, welche daS so frühe Er» löschen dieses jungen Fürstenlebens erweckt; denn ausgestattet mit den edelsten Charaktereigenschaften, welche viel verheißend waren für daS Heil seiner Nation, ist König Alfons au» diesem Dasein ab» bernse« worden mitten in einer gefährlichen Situation seine» Landes; kein Strahl der Hoffnung, daß all' sein unsägliches Ringen und seine mannhaste Festigkeit auch nur um ein Kleine» sein Land vor den alten Gefahren zerrüttender Um» wülzuugen gefestigt hätten, hat seine lttzten Stunden verschönt; er mußte von hinnen mit dem herzbrechen» den Bewußtsein, daß sein Tagewerk zu Ende ging, ohne fertig zu sein, ja auch ohne die geringste Beruhigung. daß da» politische Ehao», au» welchem er al» junger, nur 18 Lebensjahre zählender König, Rettung und Heil verkündend, hervorgegangen war, nicht wieder Über seine Nation hereinbrechen werde.
Und wahrlich: Rettung und Heil verkündend war c», al» in den Wirrnissen ejner republikani» schen Regierung, die mehr Diktatur al» Republik, die mit dem Suchen nach einem König und mit dem grauenvollen Earliflenlrieg beschäftigt war, Alfons XII den spanischen Thron bestieg.
Schon mitten in jenen Wirrnissen, ein Jahr vor seinem Regierungsantritt, erschien aus Wien, woselbst er damals seinen Studien oblag, ein an den Grafen Toreno, den Eigenthümer deS Blatte» „Tiempo", gerichtete» Schreiben de» fievzehnjährigen Prinzen, da» seine Anhänger verössent« lichen ließen, um der spanischen Nation anzudeuten, wa» fie seinerzeit von ihm zu erwarten habe. Da» Schreiben zeigt ganz und gar den König, wie er fich Vi« zu seiner Tode»punde bewährt hat. De», halb möge c» hier seinen Platz finden. ES
lautete:
.Wien, 12. December 1873. Ich begreife sehr wohl, wie große Pflichten und Verantwortungen mir der erlauchte Name auferlegt, den ich empfangen habe; aber ich fühle auch, daß er mir die edle Ruhmbegierde und den Glauben an die göttliche Vorsehung einflößt, welche die Geschicke Spanien» bessern wird. Jeue erlauchten Alfonso'», fast alle Kinder beim Beginne ihre? Kämpfen«, sahen da«.

	selbe auch zerrissen von den politischen Leiden» schasten und der Spaltung der Parteien. Wenig find meine Jahre, aber beim Mangel von Erfahrung wird mich niemals die Kraft de» Entschlusses und die Ansrichtiakeit de» guten Willens verlassen. Ich wünsche, daß durch Ihre Vermittelung meine Freunde und Parteigänger wissen, wie sehr ich ihnen sür ihre patriotische« Anstrengungen z« Gunsten der confiitutionellen Monarchie danke. Ich kenne meine Lage und ihre Schwierigkeiten, und weiß. daß. wenn Gott mich bestimmt, nach Spanien zurückzukehren, ich meine Jugend der Erfüllung meiner Pflicht zu opfern haben werde, darauf bedacht, unserem Lande unter den gesitteten Völkern Europas die Stellung zu verschaffen, welche seine Heldengeschichte ihm anweist. Erinnern wir unS an den schönen Wahlspruch de» Kaisers von Oesterreich: „Viribus tmitiV, und nichts wird un» unüberwindlich scheinen, wenn, belebt von starkem Glauben und Liebe zum Vaterlande, wir Alle mit Begeisterung an dem großen Werke der spanischen Wiedergeburt arbeiten. Inzwischen werde ich daraus bedacht sein, mich so hohen Ruhm« würdig zu machen, und hier auf fremder Erde wird fortwährend eine Erholung und Ruhe von meinen akademischen Aufgaben da» Studium unserer Geschichte, unserer kriegerischen Ruhmeithaten und der vaterländischen Sprache «nd Literatur sein." —
Ein Rückblick auf d,e zehn Jahre der Regierung»zeit deS König» Alfons bestätigt, daß dieses Schreiben die zutreffendste Charakteristik feines Wesen» war. Nicht in einem einzigen Punkt hatte der Jüngling damal» zu viel versprochen.
Am 30. December 1874 wurde er von einem großen Theil der Armee und speciell auch von der Garnison zu Madrid zum König proclamirt, al»» bald auch von den übrigen Truppen und dem größten Theil der Städte. Am folgenden Tage schon, am 31. December, erhielt die Königin Jsabella in Pari» ein Telegramm au» Madrid solgenden Inhalt»: .An Ihre Maj-stät Donna Jsabella von Bourbon. Königin von Spanten. Die Nord» und die Mittelarmee, sowie die Garnisonen von Madrid »nd den  haben Alfonso XII al« König von Spanien au»gerusen. Madrid und alle großen Städte haben diese Proclamation mit EnthufiaSmu« aufgenommen. Wir bitten E»re Majestät, diese Nachricht Ihrem erhabenen Sohne mitzutheilen, da wir deffen jetzigen Aufenthalt nicht kennen. Wir beglückwünschen von ganzem Herzen Eure Majestäten gelegentlich diese» großen Triumphe», der ohne Kampf und ohne Blutvergießen errungen worden ift. Priero de Rivers, Generalcapitain von Madrid. Canova« dcl Eastillo.* – Jsabella eilte mit diesem Telegramm zu ihr.m Sohne, der in Paris in ihrem Hotel verweilte und gerade ein Fußbad nahm. .Alfon«! Du bist König von Spanien,- rief fie dem Achtzehnjährigen entgegen. Er nahm c» hin, wie wenn fie ihm nicht» Neue»

	sagte. Am 14. Januar 1875 zog «lfouS in Madrid ein.
Seine ganze Regierung war ein fortwährende» mannhafte» Anstemmen gegen die verschiedenartigsten, den Staat, die Monarchie und die Dynastie zersehenden Elemente. Zunächst gegen die Earlisten, nach deren Bewältigung bald der in Spanien so übermächtige KleruS im Buude mit dem Papst und der mit der geweihten Tugendrose geschmückten Jsabella, der Mutter de» König», bald kommunistische Zettelungen und Auswiegelungen der.schwarzen Hand," bald particularistische, bald republikanische Bestrebungen die unausgesetzte Wachsamkeit und Festigkeit de» jungen Monarchen erforderten. Und nicht allein da» ; c» gab auch eine reactionaire Partei, welche, veranlaßt durch die freisinnigen Regungen des jungen König», fich bemühte, die Prärogative der Krone mehr und mehr einzuschränken »nd eine tyrannische Oligarchie herzustellen. Angesicht» aller dieser an den Wurzeln seiner Regierung unausgesetzt gefahrvoll rüttelnden Umtriebe war c» immer wieder die feste Ruhe des jungen Monarchen und sein klarer Blick, wodurch im richtigen Moment die höchste Gefahr abgewandt und der Fortbestand der Regierung durch seine kräftige Hand gesichert wurde.
Co ist die ganze Geschichte seiner Regierung eine Reihe derartiger Kämpfe, die um so schwieriger sür den jungen König waren, al» die auch in die Armee eindringenden Umtriebe immer breitere» Bode» fanden. Man kann dreist behaupten, daß unter den europäischen Monarchen keiner gegen eine solchermaßen große und mannigfaltige Sorgenlast zu kämpfen gehabt hat, wie er. Um so bewundern»weriher ist, daß er vermochte, länger al» ein Decennium auf diesem schwankenden Boden fest und aufrecht zu stehen.
In welchem hohen Maße er diese männliche Festigkeit, diefe bei einer solchen Jugend seltene eiserne Ruhe und impoairende Kaltblütigkeit besaß, daS zeigte aus daS Schlagendste sein Acihalteu bei den noch in frischer Erinnerung stehenden Vorgäogen in Paris, wo er auf seiner Rückkehr aus Deutschland verhöhnt und beschimpft wurde.
Noch zuguterletzt. in der von seinen eigenen Ministern leichtsinnig herausdeschworrnen Wahnwchigen VollSerregvng gegen Deutschland wegen der SarolineN'Angelegenheit, au» welcher Anlaß zu einer Krieg»«klarung genommen werden sollte, war er es allein, der Ueberlegung. Weltkenntniß und Muth genug bewahrte, die Volk»erregung ruhig au fich heran branden zu lasten, und derselben Halt zu gebieten. Ihm allein ist c» zu verdanken, daß Spanien nicht in den Abgrund gestürzt ist, dem eS mit jener .Welle de» Volkszornes" zueilte, sondern da» bessere Theil des friedlichen diplomatischen Ausgleichs erwählt hat. Wie es damit nunmehr, nach dem Tode deS Königs bestellt sein wird, steht dahin.
Die Dynastie hält fich vorläufig ausrecht, wie

	auS den bis jetzt vorliegenden telegraphischen Nach» richten ersichtlich ist. Bekanntlich war König Alfons zweimal verheirathet; seine erste Gemahlin, Mercedes, Tochter des Herzog» von Montpenfier, starb nach halbjähriger Ehe; seine zweite Gemahlin, Königin Ehristina. Tochter de» Erzherzog» Karl Ferdinand von Oesterreich, gebar ihm zwei Töchter, von denen die älteste, Prinzessin Mercede», geb. am 11. September 1880, jetzt als Königin pro» clamirt worden, während ihre Mutter die Regent» fchaft führen soll.
Noch heißt c»: in Madrid ist »lleS ruhig; auf wie lange — wer möchte da« heute schon voraus sagen. Spanien ist, mehr al« jede« andere, von jeher da» Land der politischen Erdbeben und Eruptionen gewesen. Wa« ihm Vor Allem Noth thut, ist eiue kräftige Haud. E« hat eine solche gehabt; die ist ihm jetzt durch den Tod entrissen
worden.

In [83]:
day_jul = convertdate.julian.from_gregorian(year=1856, month=3, day=2)
print(day_jul)

(1856, 2, 19)

In [252]:
sample = main_df.sample()
print(sample.date.values[0], '\n')
print(sample.full_text.values[0])

1833-06-22

Die Behörden sind äußerst wachsam und beobachte» M mentltch alle Fremden mit großer Aufmerksamkeil. 3 Tagen haben viele Haussuchungen stattgefunden. 2*° auö Frankreich angekommene Reisende, die man im dacht des Einverständnisses mit dem &lt;?r-Minister werbe hat, stehen unter strenger Aufsicht. wurde ein Französischer HandlungSkommiS in de« %4p dllcke verhaftet, wo er nach Bayonne abreisen wollte; f«n Koffer ward geöffnet, und in einer alten Bn'eftasche fanden sich Briefe ohne Unterschrift an den Grafen von VIM und an Herrn Calomarde vor, in denen von der flttflf M Infanten Don Carlos und von eine« Kern von «nbängm,

	Madrid, den 11. Juni.

	die in den nördlichen Provinzen, namentlich in Katalonien, versammelt seyen, die Rede war. Die Regierung hat sofort Stafetten an die Generalkaoi:aine dieser Provinzen mit energischen Befehlen abgesandt, den Unruhen durch Verhaftung der Rädelsführer vorzube igen.
AuS Bilbao wird gemeldet, daß d.r dorfige Magistrat sich dem Einrücken eiaeS Bataillons widersetzt hat, daS von Diltoria dorthin gesandt worden war, um erwanlge Unruhen ju unterdrücken. Der Magistrat beruft sich auf die Privi, legien der Provinz BiScaya, wonach es ihm frei stehe, Truypen auS einer andern Provinz den Eintritt zu verwei, gern. Der General, Kapitain hat über diesen Vorfall nach Madrid berichtet und sich verhaltungS» Befehle erbeten.
(Pr. Gt.-Arz.)
Man will wissen, daß im Fall die KorteS keine Miene machen sollten, gegen die Anerkennung der Tochter Ferdi, rcandS Protest einzulegen, die hohe Geistlichkeit mit Kraft und Würde die Rechte Don KarloS in Schutz nehmen wird. Zu diesem Zwecke bearbeitet sie einstweilen den Geist der Provinzen; besonders scheint Galizien einer großen Katastrophe entgegen zu gehen; die Gahrung und die allgemeine Unzufriedenheit der Gemüther bietet den Schwärmern nur I« vielen Brennstoff. (B. Z.)
Der Infant Don Sebastian und seine Gemahlin sind letzlen Freirag in Madrid von ihrer Reise nach Portugal wieder angekommen. Am Abende stattete die Königin der Gewahlin Don Sebastians einen Besuch ab, weil letztere sich, ta Folge der Beschwerlichkeiten der Reise, hatte unwohl melden lassen.
Man hat den ProspektuS gefunden, nach welchem die Karlisten die Regierung Spaniens festzustellen beabsichtig» ten: 1) wollte man erklären, daß der König nicht frei, sondern in den Handen einer Cotterie liberaler Ketzer sey; 2) wollte man die Königin und ihre Tochter nach Neapel verweisen, eben so Hen Infanten Don Zranziöto und seine Familie, als Personen, die an den Familien-Zwiftigkeiten vorzüglich Schuld haben; 3) eine RegierungS-Kommission ernennen, an deren Spitze der Infant Don CarloS, und deren erste Mitglieder, die Bischöse von Leon und Tottosa, lo wie Herr Calomarde seyn sollren; 4) der Erzbischos von Tvledv sollte zum Präsidenten deS RardS von Kastilien ernannt «erden; 6) die KorteS sollren zusammenberusen werden, und z«ar unter den Beschränkungen, die Philipp v. angeordnet; 6) die auswärtigen Schulden sollten nicht anerkannt werden, mit Ausnahme derKönial. Anleihe (Guebhard) nnd der Engl. Schuld, welche in daS neue grvße Buch ein, geschrieben «erden sollte«; 7) dle Inquisition sollte wieder oergestellt und ein Ministerium deS -Kultus eingesetzt werden; 8) eine Kommission zur Feststellung der Forderungen aller StaalSgläubiger sollte bestellt «erden; 9) die erste Arbeit der KorteS (рог Kslamienloj sollte seyn, eine allgemeine Amnestie sür alle politische Verbrechen vbae AuS, nähme zu publiziren; iO) die realistischen Freiwilligen, welche seit einem Jahre verabschiedet worden, sollten wieder vrginisin und für ihre früheren Dienste nach Verhältniß belohnt werden. (Brl. Nchr.)

In [194]:
test_df

,date,year,month,day,pub,heading,full_text,href,text_len,placename,origin_date,origin_month,heading2
158691,1862-12-12,1862,12,12,Rigasche Zeitung,Holland.,"Holland.\n\n\tHaag, 13. (1.) December. sKöln.Z...",https://proc.dom.lndb.lv/file.axd?id=15287209&...,696,None,None,None,Holland
120911,1854-04-05,1854,4,5,Rigasche Zeitung,Inländische Nachrichten.,Inländische Nachrichten.\n\n\tTt. Petersburg. ...,https://proc.dom.lndb.lv/file.axd?id=12135834&...,7271,None,None,None,Inländische Nachrichten
218663,1874-07-13,1874,7,13,Rigasche Zeitung,Das Attentat und die Reaction.,Das Attentat und die Reaction.\n\n\tIn dem Kam...,https://proc.dom.lndb.lv/file.axd?id=11835060&...,9780,None,None,None,Das Attentat und die Reaction
158839,1862-12-22,1862,12,22,Rigasche Zeitung,Oesterreich.,"Oesterreich.\n\n\tWien, 27. (15.) December. De...",https://proc.dom.lndb.lv/file.axd?id=4374749&a...,2573,None,None,None,Oesterreich
204682,1871-10-13,1871,10,13,Rigasche Zeitung,Benedetti und Lessinnes,"Benedetti und Lessinnes\n\n\tL. Berlin, 22. (1...",https://proc.dom.lndb.lv/file.axd?id=13290475&...,5345,None,None,None,Benedetti und Lessinnes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66739,1841-09-02,1841,9,2,Rigasche Zeitung,"Paris, den 3. September.","Paris, den 3. September.\n\n\tIm „Moniteur par...",https://proc.dom.lndb.lv/file.axd?id=8950120&a...,4589,Paris,3,Sept,Paris
4746,1806-01-20,1806,1,20,Rigasche Zeitung,"Folgende Personen sind gesonnen, bon hier Zu r...","Folgende Personen sind gesonnen, bon hier Zu r...",https://proc.dom.lndb.lv/file.axd?id=8565650&a...,717,None,None,None,Folgende Personen sind gesonnen von hier zu re...
10539,1810-03-26,1810,3,26,Rigasche Zeitung,"Madrid, den 28. Februar.","Madrid, den 28. Februar.\n\n\tUnter den Zügen,...",https://proc.dom.lndb.lv/file.axd?id=15202948&...,1403,Madrid,28,Feb,Madrid
119315,1853-12-19,1853,12,19,Rigasche Zeitung,Inländische Nachrichten.,Inländische Nachrichten.\n\n\n\tSt. Petersburg...,https://proc.dom.lndb.lv/file.axd?id=4090652&a...,2616,None,None,None,Inländische Nachrichten
271847,1885-02-16,1885,2,16,Rigasche Zeitung,Ueber die Briefe aus Litauen,Ueber die Briefe aus Litauen\n\n\twelche wir i...,https://proc.dom.lndb.lv/file.axd?id=6250136&a...,8969,None,None,None,Ueber die Briefe aus Litauen

In [195]:
scan_placenames_dates(test_df, exceptions)

0it [00:00, ?it/s]

       doc_id   doc_date       placename day  day2 month  start   end  year
0      158691 1862-12-12            Haag  13     1   Dec     11    29  1862
1      158839 1862-12-22            Wien  27    15   Dec     15    34  1862
2      204682 1871-10-13          Berlin  22    10   Oct     29    50  1871
3       11239 1810-08-06           Paris  27  <NA>   Jul   1569  1590  1810
4      130806 1856-06-26      Kopenhagen   2  <NA>   Jul     12    30  1856
...       ...        ...             ...  ..   ...   ...    ...   ...   ...
10379  110045 1852-01-26         Brüssel  31  <NA>   Jan      0    16  1852
10380   64985 1841-01-04  Konstantinopel  23  <NA>   Dec      0    27  1841
10381   66739 1841-09-02           Paris   3  <NA>  Sept      0    18  1841
10382   10539 1810-03-26          Madrid  28  <NA>   Feb      0    19  1810
10383  119315 1853-12-19  St. Petersburg  11  <NA>   Dec     28    51  1853

[9683 rows x 9 columns]

In [201]:
pattern2

re.compile(r'(?P<placename>(([A-Za-züöäSß]{3,}(?=\sGr[eä]nze))\s|St.\s|Bad\s|San\s|Buenos\s|New\s|[A-ZÜÖÄ][a-züöäSß]{2,}\s?[-–=]\s?|[A-ZÜÖÄ][a-züöäSß]{3,}\s[Aa]m\s)?[A-ZÜÖÄ][a-züöäSß]{3,})(?:\.|,|\.,)\s*(?:([Dd]en)|([Vv]om)|([Dd]em)|([Dd]er»)|([Dd]er))?\s*(?P<date>\d{1,2})(?:\.|ten|sten)?\s*(?P<date2>\(\d{1,2}\.?(\s)?\))?\s+(?P<month>([Jj]an)|([Ff]eb)|([Mm][äa]r)|([Aa]pr)|([Mm]ai)|([Jj][un]n)|([Jj][un]l)|([Aa]ug)|([Ss]ept)|([Oo]ct)|([Nn]ov)|([Dd]e[cz])|(c\.?)|(d\.\sM\.?)|(v\.\sM\.?))\n',
re.UNICODE)

In [204]:
pattern2

re.compile(r'(?P<placename>(([A-Za-züöäSß]{3,}(?=\sGr[eä]nze))\s|St.\s|Bad\s|San\s|Buenos\s|New\s|[A-ZÜÖÄ][a-züöäSß]{2,}\s?[-–=]\s?|[A-ZÜÖÄ][a-züöäSß]{3,}\s[Aa]m\s)?[A-ZÜÖÄ][a-züöäSß]{3,})(?:\.|,|\.,)\s*(?:([Dd]en)|([Vv]om)|([Dd]em)|([Dd]er»)|([Dd]er))?\s*(?P<date>\d{1,2})(?:\.|ten|sten)?\s*(?P<date2>\(\d{1,2}\.?(\s)?\))?\s+(?P<month>([Jj]an)|([Ff]eb)|([Mm][äa]r)|([Aa]pr)|([Mm]ai)|([Jj][un]n)|([Jj][un]l)|([Aa]ug)|([Ss]ept)|([Oo]ct)|([Nn]ov)|([Dd]e[cz])|(c\.?)|(d\.\sM\.?)|(v\.\sM\.?))\n',
re.UNICODE)

In [205]:
with open('placename_replacement_dict.json', 'r', encoding='utf8') as f:
    placename_replacement_dict = json.load(f)

In [281]:
df = pd.read_csv('processed_data.tsv', sep='\t', encoding='utf8').convert_dtypes()

In [282]:
df['doc_date'] = pd.to_datetime(df['doc_date'])

In [283]:
df['origin_date'] = pd.to_datetime(df['origin_date'])

In [284]:
df[df.placename == 'Paris']

,doc_id,doc_date,placename,day,day2,month,start,end,year,origin_date,delta
1,1,1802-01-01,Paris,18,<NA>,12,<NA>,20,1802,1801-12-18,14
17,20,1802-01-08,Paris,25,<NA>,12,<NA>,21,1802,1801-12-25,14
32,45,1802-01-15,Paris,1,<NA>,1,<NA>,20,1802,1802-01-01,14
35,53,1802-01-18,Paris,6,<NA>,1,<NA>,19,1802,1802-01-06,12
47,73,1802-01-25,Paris,8,<NA>,1,<NA>,19,1802,1802-01-08,17
...,...,...,...,...,...,...,...,...,...,...,...
243508,289479,1888-12-14,Paris,28,11,12,<NA>,20,1888,1888-12-11,3
243522,289519,1888-12-16,Paris,27,15,12,1532,1552,1888,1888-12-15,1
243527,289557,1888-12-19,Paris,29,17,12,<NA>,20,1888,1888-12-17,2
243531,289558,1888-12-19,Paris,30,13,12,1880,1900,1888,1888-12-13,6
243547,289593,1888-12-22,Paris,31,19,12,<NA>,20,1888,1888-12-19,3

243569

In [260]:
placename_replacement_dict

{'Petersburg': 'St. Petersburg',
 'Trieft': 'Triest',
 'Pesth': 'Pest',
 'Pefth': 'Pest',
 'Verlin': 'Berlin',
 'Maingegenden': 'Main',
 'Janeiro': 'Rio de Janeiro',
 'Bucharest': 'Bukarest',
 'Vondon': 'London',
 'Loudon': 'London',
 'Rewyork': 'New York',
 'Newyork': 'New York',
 'Ncwyork': 'New York',
 'Newyort': 'New York',
 'New-York': 'New York',
 'Ntwyork': 'New York',
 'Pans': 'Paris',
 'PanS': 'Paris',
 'Parts': 'Paris',
 'PartS': 'Paris',
 'Baris': 'Paris',
 'PariS': 'Paris',
 'Konftantinopel': 'Konstantinopel',
 'Konstautinopel': 'Konstantinopel',
 'Koustantinopel': 'Konstantinopel',
 'Konstantmopel': 'Konstantinopel',
 'Constantinopel': 'Konstantinopel',
 'Kalkutta': 'Calcutta',
 'Niga': 'Riga',
 'Riza': 'Riga',
 'Rlga': 'Riga',
 'Kiga': 'Riga',
 'Rcval': 'Reval',
 'Neval': 'Reval',
 'Torpat': 'Dorpat',
 'DomeSneeS': 'Domesnees',
 'DomesneeS': 'Domesnees',
 'DomeSnees': 'Domesnees',
 'Domcsnees': 'Domesnees',
 'Snees': 'Domesnees',
 'Boldcraa': 'Bolderaa',
 'Sselo': 'Zarskoje Sselo',
 'Skoje-Sselo': 'Zarskoje Sselo',
 'Mayn': 'Main',
 'Liban': 'Libau',
 'Turm': 'Turin',
 'Ancona': 'Ankona',
 'Carlsruhe': 'Karlsruhe',
 'Bafel': 'Basel',
 'Straszburg': 'Straßburg',
 'Strasburg': 'Straßburg',
 'Moskwa': 'Moskau',
 'MoSkau': 'Moskau',
 'Narowa': 'Narwa',
 'Narva': 'Narwa',
 'Berlm': 'Berlin',
 'Bertin': 'Berlin',
 'Berlw': 'Berlin',
 'Mayland': 'Mailand',
 'Darmftadt': 'Darmstadt',
 'DreSden': 'Dresden',
 'Cassel': 'Kassel',
 'Wieu': 'Wien',
 'Manheim': 'Mannheim',
 'Stuttgardt': 'Stuttgart',
 'Frankfurt': 'Frankfurt am Main',
 'TifliS': 'Tiflis',
 'Buenos-Ayres': 'Buenos Aires',
 'Archangel': 'Archangelsk',
 'Kadix': 'Cadix',
 'Malehin': 'Malchin',
 'Türkischen Gränze': 'Türkische Grenze',
 'Türkische Gränze': 'Türkische Grenze',
 'Italienischen Gränze': 'Italienische Grenze',
 'Italienischen Grenze': 'Italienische Grenze',
 'Serbischen Gränze': 'Serbische Grenze',
 'Servische Gränze': 'Serbische Grenze',
 'Polnischen Grenze': 'Polnische Grenze',
 'Spanische Gränze': 'Spanische Grenze'}