In [1]:
%history -g -f history.txt

File 'history.txt' exists. Overwrite? y
Overwriting file.

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import convertdate
import json
from tqdm.notebook import tqdm
from climdist.utils import load_df

In [313]:
main_df = load_df('main')

In [372]:
# (?:Aus |AuS |Vom |Aus dem |(Schreiben aus ))?(?P<placename>(St.\s|Bad\s|San\s|Buenos\s|New\s|[A-ZÜÖÄ][a-züöäSß]{2,}\s?[-–=]\s?|[A-ZÜÖÄ][a-züöäSß]{3,}\s[Aa]m\s)?[A-ZÜÖÄ][a-züöäSß]{3,})(?:\.|,|\.,)\s*(?:([Dd]en)|([Vv]om)|([Dd]em)|([Dd]er»)|([Dd]er))?\s*(?P<date>\d{1,2})(?:\.|ten|sten)?\s*(?P<date2>\(\d{1,2}\.?(\s)?\))?\s+(?P<month>([Jj]an)|([Ff]eb)|([Mm][äa]r)|([Aa]pr)|([Mm]ai)|([Jj][un]n)|([Jj][un]l)|([Aa]ug)|([Ss]ept)|([Oo]ct)|([Nn]ov)|([Dd]e[cz])|(c\.?)|(d\.\sM\.?)|(v\.\sM\.?))

In [4]:
pattern = re.compile('(?P<placename>(([A-Za-züöäSß]{3,}(?=\sGr[eä]nze))\s|St.\s|Bad\s|San\s|Buenos\s|New\s|[A-ZÜÖÄ][a-züöäSß]{2,}\s?[-–=]\s?|[A-ZÜÖÄ][a-züöäSß]{3,}\s[Aa]m\s)?[A-ZÜÖÄ][a-züöäSß]{3,})(?:\.|,|\.,)\s*(?:([Dd]en)|([Vv]om)|([Dd]em)|([Dd]er»)|([Dd]er))?\s*(?P<date>\d{1,2})(?:\.|ten|sten)?\s*(?P<date2>\(\d{1,2}\.?(\s)?\))?\s+(?P<month>([Jj]an)|([Ff]eb)|([Mm][äa]r)|([Aa]pr)|([Mm]ai)|([Jj][un]n)|([Jj][un]l)|([Aa]ug)|([Ss]ept)|([Oo]ct)|([Nn]ov)|([Dd]e[cz])|(c\.?)|(d\.\sM\.?)|(v\.\sM\.?))')

In [222]:
weekdays = ['Montag', 'Montage', 'Dienstag', 'Dienstage', 'Dinstag', 'Mittwoch', 'Donnerstag', 'Donnerstage',
            'DonnerStag', 'DienStag', 'DienStage', 'DinStag',
            'Freitag', 'Freytag', 'Freitage', 'Sonntag', 'Sonnabend', 'Sonntage', 'Stag', 'Tage',
            'Gestern', 'Morgen']
months = ['Januar', 'Februar', 'März', 'April', 'Juni', 'Juny', 'Juli', 'July', 'August',
          'October', 'Oktober', 'November', 'December', 'Dezember']
times_of_day = ['Abend', 'Heute']
currencies = ['Thlr']
other = ['Fremde', 'Hotel', 'Adler', 'Rathhaus', 'Riga-Rathhaus', 'Riga-RathhauS', 'Riga-Schloß', 'Geldkurs', 'Hause',
         'Tgbf', 'Börse', 'Pastorat', 'Senat', 'Schmidt', 'Verwaltung', 'Bekanntmachungen', 'Anzeige', 'Jahre',
         'Tagesbefehle', 'Schloß', 'Ritterhause', 'Weihnachtsabend']

exceptions = weekdays + months + times_of_day + currencies + other

In [264]:
with open('re_exceptions.txt', 'r', encoding='utf8') as f:
    exceptions = []
    for line in f.readlines():
        exceptions.append(line.strip('\n'))

In [265]:
with open('re_pattern.txt', 'r', encoding='utf8') as f:
    pattern = re.compile(f.read())

In [275]:
def get_text(ix, window):
    window_before, window_after = window, window
    if window_before > df.loc[ix, 'start']:
        window_before = df.loc[ix, 'start']
        
    return main_df.loc[df.loc[ix, 'doc_id'], 'full_text'][df.loc[ix, 'start']-window_before:df.loc[ix, 'end']+window_after]
    
    
def get_example(placename, window=200):
    example = df.loc[df.placename == placename].sample(1)
    ix = example.index.values[0]
    doc_id = example.doc_id.values[0]
    print('doc_id: ', doc_id, '\n') 
    if window == 'full':
        print(main_df.loc[doc_id, 'full_text'], '\n')
    else:
        print(get_text(ix, window), '\n')
    for match in re.finditer(pattern, main_df.loc[doc_id, 'full_text']):
        print(match.groupdict())

        
def scan_placenames_dates(main_df):
    
    results = []
    
    for ix, row in tqdm(main_df.iterrows()):
        matches = re.finditer(pattern, row.full_text)
        for m in matches:
            results.append([ix, row.date] + list(m.groupdict().values()) + [m.span()[0], m.span()[1]])
        
    result_df = pd.DataFrame(columns=['doc_id', 'doc_date', 'placename', 'day', 'day2', 'month', 'start', 'end'],
                        data=results).fillna(pd.NA)
    
    result_df['doc_date'] = pd.to_datetime(result_df['doc_date'], format='%Y-%m-%d')
    result_df['year'] = result_df['doc_date'].dt.year
    
    result_df['day'] = result_df['day'].astype(int)
    result_df['day'] = result_df['day'].apply(lambda x: x if (x in range(1,32)) else pd.NA)
    
    result_df['day2'] = result_df['day2'].str.lstrip('( ').str.strip('.) ')
    result_df['day2'].fillna(0, inplace=True)
    result_df['day2'] = result_df['day2'].astype(int)
    result_df.replace(0, pd.NA, inplace=True)

    return result_df[~result_df.placename.isin(exceptions)]

In [276]:
df = scan_placenames_dates(main_df)

0it [00:00, ?it/s]

In [277]:
len(df)

9683

In [36]:
print(df.placename.value_counts().sum())
print(df.placename.value_counts()[lambda x: x >= 30].sum())

9683
6923

In [31]:
placename_replacement_dict = {
    'Petersburg': 'St. Petersburg',
    'Trieft': 'Triest',
    'Pesth': 'Pest',
    'Pefth': 'Pest',
    'Verlin': 'Berlin',
    'Maingegenden': 'Main',
    'Janeiro': 'Rio de Janeiro',
    'Bucharest': 'Bukarest',
    'Vondon': 'London',
    'Loudon': 'London',
    'Rewyork': 'New York',
    'Newyork': 'New York',
    'Ncwyork': 'New York',
    'Newyort': 'New York',
    'New-York': 'New York',
    'Ntwyork': 'New York',
    'Pans': 'Paris',
    'PanS': 'Paris',
    'Parts': 'Paris',
    'PartS': 'Paris',
    'Baris': 'Paris',
    'PariS': 'Paris',
    'Konftantinopel': 'Konstantinopel',
    'Konstautinopel': 'Konstantinopel',
    'Koustantinopel': 'Konstantinopel',
    'Konstantmopel':  'Konstantinopel',
    'Constantinopel': 'Konstantinopel',
    'Kalkutta': 'Calcutta',
    'Niga': 'Riga',
    'Riza': 'Riga',
    'Rlga': 'Riga',
    'Kiga': 'Riga',
    'Rcval': 'Reval',
    'Neval': 'Reval',
    'Torpat': 'Dorpat',
    'DomeSneeS': 'Domesnees',
    'DomesneeS': 'Domesnees',
    'DomeSnees': 'Domesnees',
    'Domcsnees': 'Domesnees',
    'Snees': 'Domesnees',
    'Boldcraa': 'Bolderaa',
    'Sselo': 'Zarskoje Sselo',
    'Skoje-Sselo': 'Zarskoje Sselo',
    'Mayn': 'Main',
    'Liban': 'Libau',
    'Turm': 'Turin',
    'Ancona': 'Ankona',
    'Carlsruhe': 'Karlsruhe',
    'Bafel': 'Basel',
    'Straszburg': 'Straßburg',
    'Strasburg': 'Straßburg',
    'Moskwa': 'Moskau',
    'MoSkau': 'Moskau',
    'Narowa': 'Narwa',
    'Narva': 'Narwa',
    'Berlm': 'Berlin',
    'Bertin': 'Berlin',
    'Berlw': 'Berlin',
    'Verlin': 'Berlin',
    'Mayland': 'Mailand',
    'Darmftadt': 'Darmstadt',
    'DreSden': 'Dresden',
    'Cassel': 'Kassel',
    'Wieu': 'Wien',
    'Manheim': 'Mannheim',
    'Stuttgardt': 'Stuttgart',
    'Frankfurt': 'Frankfurt am Main',
    'TifliS': 'Tiflis',
    'Buenos-Ayres': 'Buenos Aires',
    'Archangel': 'Archangelsk',
    'Kadix': 'Cadix',
    'Malehin': 'Malchin',
    'Türkischen Gränze': 'Türkische Grenze',
    'Türkische Gränze': 'Türkische Grenze',
    'Italienischen Gränze': 'Italienische Grenze',
    'Italienischen Grenze': 'Italienische Grenze',
    'Serbischen Gränze': 'Serbische Grenze',
    'Servische Gränze': 'Serbische Grenze',
    'Polnischen Grenze': 'Polnische Grenze',
    'Spanische Gränze': 'Spanische Grenze',
}

with open('../rz_acta/placename_replacement_dict.json', 'w', encoding='utf8') as f:
    json.dump(placename_replacement_dict, f)

In [278]:
df.placename.replace(placename_replacement_dict, inplace=True)

In [308]:
df[df.placename == 'Sburg']

,doc_id,doc_date,placename,day,day2,month,start,end,year,origin_date,delta
66104,100053,1849-11-25,Sburg,19,<NA>,11,36,50,1849,1849-11-19,6
72060,105290,1851-01-19,Sburg,13,<NA>,1,36,50,1851,1851-01-13,6
72502,105861,1851-03-07,Sburg,2,<NA>,3,36,49,1851,1851-03-02,5
73368,106875,1851-05-24,Sburg,19,<NA>,5,36,50,1851,1851-05-19,5
74376,108219,1851-09-07,Sburg,3,<NA>,9,36,50,1851,1851-09-03,4
128183,153238,1861-09-25,Sburg,22,<NA>,9,6,21,1861,1861-09-22,3
137246,163392,1863-12-14,Sburg,13,<NA>,12,820,834,1863,1863-12-13,1
141242,168235,1864-12-24,Sburg,23,<NA>,12,13537,13551,1864,1864-12-23,1
166546,195196,1870-01-10,Sburg,9,<NA>,1,1163,1176,1870,1870-01-09,1
167011,195909,1870-02-28,Sburg,27,<NA>,2,1962,1976,1870,1870-02-27,1
167045,195962,1870-03-05,Sburg,3,<NA>,3,854,867,1870,1870-03-03,2
167251,196283,1870-03-25,Sburg,24,<NA>,3,1266,1280,1870,1870-03-24,1
167991,197460,1870-06-11,Sburg,9,<NA>,6,2524,2537,1870,1870-06-09,2
168037,197545,1870-06-17,Sburg,15,<NA>,6,9062,9076,1870,1870-06-15,2
170035,199604,1870-10-29,Sburg,25,<NA>,10,2341,2355,1870,1870-10-25,4
171660,201149,1871-02-18,Sburg,17,<NA>,2,7132,7146,1871,1871-02-17,1
180393,211045,1872-12-14,Sburg,13,<NA>,12,19,32,1872,1872-12-13,1
181840,212937,1873-05-02,Sburg,1,<NA>,5,2547,2560,1873,1873-05-01,1
181883,212990,1873-05-05,Sburg,3,<NA>,5,1882,1895,1873,1873-05-03,2
181950,213054,1873-05-10,Sburg,8,<NA>,5,1688,1701,1873,1873-05-08,2
182356,213515,1873-06-16,Sburg,15,<NA>,6,2565,2579,1873,1873-06-15,1
207437,240400,1878-04-20,Sburg,18,<NA>,4,258,271,1878,1878-04-18,2
212893,246580,1879-04-30,Sburg,28,<NA>,4,20,34,1879,1879-04-28,2
213872,248301,1879-08-09,Sburg,5,<NA>,8,2859,2872,1879,1879-08-05,4
215182,250878,1880-01-02,Sburg,31,<NA>,12,276,290,1880,1879-12-31,2
219937,256968,1881-01-15,Sburg,14,<NA>,1,244,258,1881,1881-01-14,1
220074,257176,1881-01-27,Sburg,26,<NA>,1,37,51,1881,1881-01-26,1
220591,257895,1881-03-12,Sburg,11,<NA>,3,234,248,1881,1881-03-11,1
221548,259306,1881-06-10,Sburg,9,<NA>,6,37,50,1881,1881-06-09,1
221767,259594,1881-06-29,Sburg,26,<NA>,6,37,51,1881,1881-06-26,3
221869,259754,1881-07-09,Sburg,7,<NA>,7,37,50,1881,1881-07-07,2
222007,259946,1881-07-22,Sburg,21,<NA>,7,38,52,1881,1881-07-21,1
222075,260041,1881-07-28,Sburg,27,<NA>,7,227,241,1881,1881-07-27,1
222084,260055,1881-07-29,Sburg,28,<NA>,7,37,51,1881,1881-07-28,1
222151,260145,1881-08-04,Sburg,31,<NA>,7,37,51,1881,1881-07-31,4
222481,260523,1881-08-28,Sburg,27,<NA>,8,5,19,1881,1881-08-27,1
223040,261191,1881-10-07,Sburg,6,<NA>,10,37,50,1881,1881-10-06,1
223593,262048,1881-12-01,Sburg,27,<NA>,11,5,19,1881,1881-11-27,4
224425,263283,1883-03-10,Sburg,8,<NA>,3,926,939,1883,1883-03-08,2
225019,263989,1883-05-05,Sburg,3,<NA>,5,5,18,1883,1883-05-03,2
226091,265243,1883-08-18,Sburg,16,<NA>,8,5,19,1883,1883-08-16,2
226196,265362,1883-08-27,Sburg,26,<NA>,8,273,287,1883,1883-08-26,1
229928,270100,1884-09-22,Sburg,20,<NA>,9,5644,5659,1884,1884-09-20,2
240733,285135,1888-01-14,Sburg,12,<NA>,1,5,19,1888,1888-01-12,2

In [307]:
print(df.placename.value_counts()[lambda x: x > 29].to_string())

Paris                   26165
London                  22561
Berlin                  21787
St. Petersburg          20047
Wien                    15363
Madrid                   5831
Konstantinopel           4628
Riga                     4521
Brüssel                  3487
Kopenhagen               3412
New York                 3342
München                  3266
Hamburg                  2774
Turin                    2580
Dorpat                   1995
Bern                     1890
Stockholm                1696
Dresden                  1695
Reval                    1655
Warschau                 1626
Neapel                   1547
Florenz                  1487
Amsterdam                1445
Haag                     1437
Athen                    1435
Domesnees                1429
Odessa                   1423
Bukarest                 1379
Lissabon                 1345
Hannover                 1318
Pest                     1290
Stuttgart                1285
Triest                   1228
Versailles               1140
Main                     1125
Karlsruhe                1035
Kassel                    985
Moskau                    976
Mitau                     971
Belgrad                   941
Leipzig                   862
Kiel                      855
Frankfurt am Main         755
Köln                      724
Washington                686
Libau                     659
Königsberg                649
Darmstadt                 642
Mailand                   636
Italien                   622
Breslau                   618
Türkische Grenze          536
Antwerpen                 526
Alexandrien               525
Marseille                 496
Posen                     495
Prag                      492
Weimar                    485
Altona                    473
Bremen                    465
Liverpool                 461
Schweiz                   429
Genua                     410
Wiesbaden                 406
Stettin                   387
Sofia                     369
Straßburg                 353
Kairo                     343
Venedig                   342
Bombay                    338
Zürich                    327
Rendsburg                 325
Flensburg                 325
Gotha                     319
Basel                     305
Lübeck                    297
Bolderaa                  293
Mainz                     293
Bayonne                   287
Smyrna                    282
Danzig                    271
Schleswig                 268
Windau                    260
Kronstadt                 259
Augsburg                  251
Genf                      242
Christiania               225
Koblenz                   218
Braunschweig              216
Semlin                    213
Italienische Grenze       208
Potsdam                   205
Kiew                      205
Dublin                    204
Schwerin                  204
Charkow                   202
Livorno                   202
Pernau                    201
Agram                     200
Heidelberg                200
Oldenburg                 190
Tiflis                    189
Bordeaux                  188
Baden                     183
Ragusa                    179
Mannheim                  177
Hongkong                  174
Korfu                     173
Barom                     171
Nürnberg                  170
Krakau                    169
Bremerhaven               169
Gent                      163
Calcutta                  163
Magdeburg                 160
Barcelona                 158
Palermo                   157
Freiburg                  156
Toulon                    154
Memel                     153
Verona                    153
Bonn                      148
Wilna                     143
Düsseldorf                141
Aachen                    140
Rio de Janeiro            137
Lernberg                  136
Bologna                   134
Luxemburg                 133
Hüll                      133
Niederelbe                129
Algier                    128
Dünaburg                  127
Itzehoe                   124
Alexandria                123
Philadelphia              120
Ankona                    119
Datum                     119
Dundee                    118
Donau                     114
Fellin                    111
Koburg                    109
Eisenach                  108
Helsingör                 106
Wenden                    106
Hartlepool                105
Perpignan                 105
Malta                     105
Serbische Grenze          105
Dünkirchen                101
Narwa                     101
Wolmar                    100
Erfurt                     99
Gravesend                  99
Lyon                       98
Spanische Grenze           98
Hanau                      97
Lüttich                    97
Helsingfors                96
Baden-Baden                95
Fulda                      93
Pera                       91
Salzburg                   91
Rhein                      90
Nizza                      86
Münster                    86
Sachsen                    84
Varna                      84
Nowgorod                   84
Jassy                      83
Innsbruck                  82
Strl                       80
Kurland                    79
Modena                     79
Gothenburg                 78
Thüringen                  78
Stralsund                  77
Grimsby                    77
Würzburg                   77
Zara                       76
Halle                      76
Sewastopol                 75
Elberfeld                  75
Holstein                   74
Archangelsk                73
Rostock                    72
Tours                      72
Preßburg                   72
Luzern                     71
Sanssouci                  70
Tuckum                     70
Beirut                     70
Taschkent                  69
Parma                      68
Niederlanden               68
Metz                       67
Regensburg                 65
Tilsit                     65
Peterhof                   65
Arensburg                  64
Göttingen                  63
Mexiko                     61
Tunis                      60
Helvoet                    60
Altenburg                  60
Gibraltar                  59
Cettinje                   59
Brünn                      58
Teplitz                    57
Leith                      56
Walk                       56
Havre                      55
Dessau                     54
Belfast                    54
Cadix                      53
Livland                    53
Swinemünde                 53
Meiningen                  52
Ostende                    52
Kasan                      52
Oporto                     52
Rastatt                    52
Orenburg                   51
Trier                      51
Shanghai                   51
Zante                      50
Jena                       50
Orel                       49
Nauplia                    49
Grangemouth                48
Ofen                       48
Oesterreich                47
Gravenhaag                 47
Teheran                    47
Regen                      46
Livadia                    46
Kissingen                  45
Malchin                    45
Vlissingen                 45
Rustschuk                  44
Zarskoje-Sselo             44
Philippopel                44
Saragossa                  44
Sburg                      44
Brandenburgischen          43
Olmütz                     43
Helgoland                  43
Twer                       43
Bayreuth                   43
Konstanz                   42
Baltischport               42
Boston                     42
Sptember                   42
Schellenberg               42
Texel                      41
Worms                      41
Tirnowo                    41
Ssaratow                   40
Porto                      40
Graz                       40
Polnische Grenze           40
Rotterdam                  39
Hermannstadt               39
Shields                    39
Glasgow                    39
Gastein                    39
Saarbrücken                39
Domesnecs                  39
Messina                    39
Gränze                     39
Aberdeen                   39
Etrl                       38
Plymouth                   38
Hapsal                     37
Vlie                       37
Arbroath                   37
Trapezunt                  37
Newport                    37
Linz                       36
Naturforschervereins       36
Preußen                    36
Speyer                     36
Chur                       35
Dirschau                   35
Charlottenburg             35
Elbing                     35
Caprera                    35
Astrachan                  35
Schnee                     35
Cattaro                    34
Rewyort                    34
Marienburg                 34
Domesnces                  34
Simla                      34
Galacz                     34
Havanna                    34
Budapest                   33
Sünderland                 33
Cuxhaven                   33
Manchester                 33
Goldingen                  33
Möttau                     32
Gumbinnen                  32
Coblenz                    32
Kahira                     32
Nieder-Elbe                32
Lausanne                   32
Lille                      32
Pleskau                    32
Detmold                    32
San Francisco              32
Niederrhein                32
Frankreich                 32
Skutari                    31
Elbe                       31
Kaluga                     31
Southampton                30
Paderborn                  30
Zeit                       30
Taganrog                   30
Melbourne                  30
Oger                       30
September                  30
Smolensk                   30
Karlsbad                   30
Berg                       30
Ischl                      30
Veracruz                   30
Gatschina                  30

In [315]:
get_text(218701, 50)

' do. do. Uem ttiinj, Am 4« 2,5 —\n+^6 0,3\n, Nachts Regen.\n\n\t4. October.\nVaromcter bei 0° C. mm... Lufttemperatur in '

In [311]:
df[df.placename == 'Regen']

,doc_id,doc_date,placename,day,day2,month,start,end,year,origin_date,delta
92019,126229,1855-05-07,Regen,9,<NA>,4,2386,2399,1855,1855-04-09,28
179331,209442,1872-08-30,Regen,16,<NA>,6,11720,11738,1872,1872-06-16,75
217597,253968,1880-07-14,Regen,12,<NA>,7,507,523,1880,1880-07-12,2
217608,253984,1880-07-15,Regen,13,<NA>,7,521,537,1880,1880-07-13,2
217708,254106,1880-07-23,Regen,22,<NA>,7,483,499,1880,1880-07-22,1
218283,254827,1880-09-06,Regen,5,<NA>,9,608,624,1880,1880-09-05,1
218460,255035,1880-09-19,Regen,18,<NA>,9,600,617,1880,1880-09-18,1
218701,255314,1880-10-06,Regen,4,<NA>,10,493,508,1880,1880-10-04,2
220400,257675,1881-02-26,Regen,25,<NA>,2,636,652,1881,1881-02-25,1
221444,259151,1881-05-30,Regen,29,<NA>,5,513,529,1881,1881-05-29,1
221490,259229,1881-06-05,Regen,4,<NA>,6,562,577,1881,1881-06-04,1
223300,261571,1881-10-30,Regen,29,<NA>,10,597,613,1881,1881-10-29,1
223472,261825,1881-11-16,Regen,14,<NA>,11,911,927,1881,1881-11-14,2
223782,262327,1881-12-18,Regen,17,<NA>,12,582,598,1881,1881-12-17,1
225412,264429,1883-06-14,Regen,13,<NA>,6,559,575,1883,1883-06-13,1
227042,266360,1883-11-18,Regen,17,<NA>,11,508,524,1883,1883-11-17,1
228678,268409,1884-04-28,Regen,27,<NA>,4,591,607,1884,1884-04-27,1
228691,268421,1884-04-30,Regen,28,<NA>,4,1030,1046,1884,1884-04-28,2
230206,270457,1884-10-20,Regen,19,<NA>,10,550,564,1884,1884-10-19,1
231206,271946,1885-02-25,Regen,24,<NA>,2,1351,1367,1885,1885-02-24,1
231863,272900,1885-05-20,Regen,18,<NA>,5,997,1013,1885,1885-05-18,2
231875,272913,1885-05-21,Regen,20,<NA>,5,638,654,1885,1885-05-20,1
231893,272937,1885-05-23,Regen,22,<NA>,5,489,505,1885,1885-05-22,1
231900,272951,1885-05-24,Regen,23,<NA>,5,596,611,1885,1885-05-23,1
232087,273250,1885-06-17,Regen,16,<NA>,6,573,587,1885,1885-06-16,1
232633,274052,1885-08-23,Regen,22,<NA>,8,464,479,1885,1885-08-22,1
232658,274080,1885-08-26,Regen,24,<NA>,8,938,954,1885,1885-08-24,2
232677,274096,1885-08-27,Regen,26,<NA>,8,512,528,1885,1885-08-26,1
232755,274184,1885-09-04,Regen,3,<NA>,9,600,616,1885,1885-09-03,1
232792,274226,1885-09-07,Regen,6,<NA>,9,557,573,1885,1885-09-06,1
236714,279694,1886-12-06,Regen,5,<NA>,12,573,588,1886,1886-12-05,1
237050,280199,1887-01-19,Regen,18,<NA>,1,509,523,1887,1887-01-18,1
238266,281759,1887-05-11,Regen,10,<NA>,5,1540,1556,1887,1887-05-10,1
239715,283462,1887-09-14,Regen,13,<NA>,9,546,561,1887,1887-09-13,1
240338,284374,1887-11-17,Regen,16,<NA>,11,532,548,1887,1887-11-16,1
240388,284473,1887-11-24,Regen,23,<NA>,11,496,511,1887,1887-11-23,1
241416,286025,1888-03-21,Regen,20,<NA>,3,6144,6160,1888,1888-03-20,1
241903,286881,1888-05-23,Regen,21,<NA>,5,17340,17356,1888,1888-05-21,2
242198,287342,1888-07-01,Regen,30,<NA>,6,555,571,1888,1888-06-30,1
242251,287404,1888-07-06,Regen,5,<NA>,7,578,593,1888,1888-07-05,1
242479,287711,1888-07-30,Regen,29,<NA>,7,526,542,1888,1888-07-29,1
242534,287801,1888-08-08,Regen,7,<NA>,8,442,457,1888,1888-08-07,1
242576,287865,1888-08-12,Regen,11,<NA>,8,548,564,1888,1888-08-11,1
242640,287964,1888-08-19,Regen,18,<NA>,8,549,565,1888,1888-08-18,1
242953,288488,1888-09-28,Regen,27,<NA>,9,546,563,1888,1888-09-27,1
242976,288535,1888-10-03,Regen,2,<NA>,10,1698,1713,1888,1888-10-02,1

In [38]:
def cleanup_dates(df):
    
    #df = df.copy()
    
    month_dict = dict(zip(['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun',
                           'Jul', 'Aug', 'Sept', 'Okt', 'Nov', 'Dec'], range(1,13)))
    
    df.month = df.month.str.capitalize()
    df.month.replace({'Dez': 'Dec', 'Mar': 'Mär', 'Oct': 'Okt', '0ct': 'Okt', '0kt': 'Okt',
                      'Jnl': 'Jul', 'Jnn': 'Jun', 'Juu': 'Jun', 'May': 'Mai'}, inplace=True)
    
    df.month.replace(month_dict, inplace=True)
    df.loc[df.month.isin(['C', 'C.', 'D. m', 'D. m.']), 'month'] = df.loc[df.month.isin(['C', 'C.', 'D. m', 'D. m.']), 'doc_date'].dt.month
    df.loc[df.month.isin(['V. m', 'V. m.']), 'month'] = (df.loc[df.month.isin(['v. M', 'V. m.']), 'doc_date'] - pd.DateOffset(months=1)).dt.month - 1
    
    df.month = df.month.fillna(0).astype(int)
    df.month = df.month.apply(lambda x: x if (x in range(1,13)) else pd.NA)
    
    df.day = df.day.fillna(0).astype(int)
    df.day = df.day.apply(lambda x: x if (x in range(1,32)) else pd.NA)
    
    df.day2 = df.day2.fillna(0).astype(int)
    df.day2 = df.day2.apply(lambda x: x if (x in range(1,32)) else pd.NA)
    
    return df

In [53]:
df = cleanup_dates(df)

In [46]:
def verify_dates(ix, df=df):
    
    #print(df.loc[ix,['day', 'day2', 'month', 'doc_date']])
    
    day, day2, month, doc_date = df.loc[ix,['day', 'day2', 'month', 'doc_date']]
    
    if type(day) == pd._libs.missing.NAType or type(month) == pd._libs.missing.NAType:
        return pd.NA
    
    # 2 kp
    if type(day2) == int:
        #print('difference: ', max(day, day2) - min(day, day2))
        if month == doc_date.month or month < doc_date.month:
            if day > day2 and day > doc_date.day:
                # julian is the smaller one
                origin_date = pd.to_datetime(f'{str(doc_date.year)}-{month}-{day2}',
                                             format='%Y-%m-%d', errors='coerce')
            else: # kontrolli see üle
                origin_date = pd.to_datetime(f'{str(doc_date.year)}-{month}-{day}',
                                             format='%Y-%m-%d', errors='coerce')
                
        elif month > doc_date.month:
            if month == 12 and doc_date.month == 1:
                if day > day2 and day > doc_date.day:
                    origin_date = pd.to_datetime(f'{str(doc_date.year-1)}-{month}-{day2}',
                                                 format='%Y-%m-%d', errors='coerce')
                else:
                    origin_date = pd.to_datetime(f'{str(doc_date.year-1)}-{month}-{day}',
                                             format='%Y-%m-%d', errors='coerce')
                    
            else:
                return pd.NA
                
            
    
    # 1 kp
    else:
        # mis on kuu võrreldes lehe kuuga?
        if month < doc_date.month:
            # origin is julian, apply directly to datetime
            origin_date = pd.to_datetime(f'{str(doc_date.year)}-{month}-{day}',
                                         format='%Y-%m-%d', errors='coerce')
        
        elif month == doc_date.month:
            if day > doc_date.day:
                # origin is gregorian, convert to julian first, then apply
                try:
                    day_jul = convertdate.julian.from_gregorian(year=doc_date.year, month=month, day=day)
                except ValueError:
                    return pd.NA
                origin_date = pd.to_datetime(f'{str(day_jul[0])}-{str(day_jul[1])}-{str(day_jul[2])}',
                                             format='%Y-%m-%d', errors='coerce')
            else:
                # origin is julian, apply directly to datetime
                origin_date = pd.to_datetime(f'{str(doc_date.year)}-{month}-{day}',
                                             format='%Y-%m-%d', errors='coerce')
        
        elif month > doc_date.month:
            if month == 12 and doc_date.month == 1:
                # origin is from last year - probably in julian b/c is smaller that doc_date and there is no day2
                origin_date = pd.to_datetime(f'{str(doc_date.year-1)}-{month}-{day}',
                                             format='%Y-%m-%d', errors='coerce')
            else:
                # origin is from next month, thus in gregorian
                try:
                    day_jul = convertdate.julian.from_gregorian(year=doc_date.year, month=month, day=day)
                except ValueError:
                    return pd.NA
                origin_date = pd.to_datetime(f'{str(day_jul[0])}-{str(day_jul[1])}-{str(day_jul[2])}',
                                             format='%Y-%m-%d', errors='coerce')
            
    return origin_date

In [54]:
origin_dates = []
for ix in tqdm(df.index):
    origin_dates.append(verify_dates(ix, df))

df['origin_date'] = origin_dates

  0%|          | 0/279436 [00:00<?, ?it/s]

In [184]:
df.dropna(subset=['origin_date'], inplace=True)
df['origin_date'] = pd.to_datetime(df.origin_date)

In [189]:
df.origin_date

0        1801-12-20
1        1801-12-18
2        1801-12-22
3        1801-12-16
4        1801-12-19
            ...
299594   1888-12-27
299607   1888-12-28
299608   1888-12-24
299610   1888-12-29
299612   1888-12-29
Name: origin_date, Length: 243572, dtype: datetime64[ns]

In [193]:
test_df = pd.read_parquet('../data/processed/RZ_sample.parquet')

In [194]:
test_df

,date,year,month,day,pub,heading,full_text,href,text_len,placename,origin_date,origin_month,heading2
158691,1862-12-12,1862,12,12,Rigasche Zeitung,Holland.,"Holland.\n\n\tHaag, 13. (1.) December. sKöln.Z...",https://proc.dom.lndb.lv/file.axd?id=15287209&...,696,None,None,None,Holland
120911,1854-04-05,1854,4,5,Rigasche Zeitung,Inländische Nachrichten.,Inländische Nachrichten.\n\n\tTt. Petersburg. ...,https://proc.dom.lndb.lv/file.axd?id=12135834&...,7271,None,None,None,Inländische Nachrichten
218663,1874-07-13,1874,7,13,Rigasche Zeitung,Das Attentat und die Reaction.,Das Attentat und die Reaction.\n\n\tIn dem Kam...,https://proc.dom.lndb.lv/file.axd?id=11835060&...,9780,None,None,None,Das Attentat und die Reaction
158839,1862-12-22,1862,12,22,Rigasche Zeitung,Oesterreich.,"Oesterreich.\n\n\tWien, 27. (15.) December. De...",https://proc.dom.lndb.lv/file.axd?id=4374749&a...,2573,None,None,None,Oesterreich
204682,1871-10-13,1871,10,13,Rigasche Zeitung,Benedetti und Lessinnes,"Benedetti und Lessinnes\n\n\tL. Berlin, 22. (1...",https://proc.dom.lndb.lv/file.axd?id=13290475&...,5345,None,None,None,Benedetti und Lessinnes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66739,1841-09-02,1841,9,2,Rigasche Zeitung,"Paris, den 3. September.","Paris, den 3. September.\n\n\tIm „Moniteur par...",https://proc.dom.lndb.lv/file.axd?id=8950120&a...,4589,Paris,3,Sept,Paris
4746,1806-01-20,1806,1,20,Rigasche Zeitung,"Folgende Personen sind gesonnen, bon hier Zu r...","Folgende Personen sind gesonnen, bon hier Zu r...",https://proc.dom.lndb.lv/file.axd?id=8565650&a...,717,None,None,None,Folgende Personen sind gesonnen von hier zu re...
10539,1810-03-26,1810,3,26,Rigasche Zeitung,"Madrid, den 28. Februar.","Madrid, den 28. Februar.\n\n\tUnter den Zügen,...",https://proc.dom.lndb.lv/file.axd?id=15202948&...,1403,Madrid,28,Feb,Madrid
119315,1853-12-19,1853,12,19,Rigasche Zeitung,Inländische Nachrichten.,Inländische Nachrichten.\n\n\n\tSt. Petersburg...,https://proc.dom.lndb.lv/file.axd?id=4090652&a...,2616,None,None,None,Inländische Nachrichten
271847,1885-02-16,1885,2,16,Rigasche Zeitung,Ueber die Briefe aus Litauen,Ueber die Briefe aus Litauen\n\n\twelche wir i...,https://proc.dom.lndb.lv/file.axd?id=6250136&a...,8969,None,None,None,Ueber die Briefe aus Litauen

In [195]:
scan_placenames_dates(test_df, exceptions)

0it [00:00, ?it/s]

       doc_id   doc_date       placename day  day2 month  start   end  year
0      158691 1862-12-12            Haag  13     1   Dec     11    29  1862
1      158839 1862-12-22            Wien  27    15   Dec     15    34  1862
2      204682 1871-10-13          Berlin  22    10   Oct     29    50  1871
3       11239 1810-08-06           Paris  27  <NA>   Jul   1569  1590  1810
4      130806 1856-06-26      Kopenhagen   2  <NA>   Jul     12    30  1856
...       ...        ...             ...  ..   ...   ...    ...   ...   ...
10379  110045 1852-01-26         Brüssel  31  <NA>   Jan      0    16  1852
10380   64985 1841-01-04  Konstantinopel  23  <NA>   Dec      0    27  1841
10381   66739 1841-09-02           Paris   3  <NA>  Sept      0    18  1841
10382   10539 1810-03-26          Madrid  28  <NA>   Feb      0    19  1810
10383  119315 1853-12-19  St. Petersburg  11  <NA>   Dec     28    51  1853

[9683 rows x 9 columns]

In [201]:
pattern2

re.compile(r'(?P<placename>(([A-Za-züöäSß]{3,}(?=\sGr[eä]nze))\s|St.\s|Bad\s|San\s|Buenos\s|New\s|[A-ZÜÖÄ][a-züöäSß]{2,}\s?[-–=]\s?|[A-ZÜÖÄ][a-züöäSß]{3,}\s[Aa]m\s)?[A-ZÜÖÄ][a-züöäSß]{3,})(?:\.|,|\.,)\s*(?:([Dd]en)|([Vv]om)|([Dd]em)|([Dd]er»)|([Dd]er))?\s*(?P<date>\d{1,2})(?:\.|ten|sten)?\s*(?P<date2>\(\d{1,2}\.?(\s)?\))?\s+(?P<month>([Jj]an)|([Ff]eb)|([Mm][äa]r)|([Aa]pr)|([Mm]ai)|([Jj][un]n)|([Jj][un]l)|([Aa]ug)|([Ss]ept)|([Oo]ct)|([Nn]ov)|([Dd]e[cz])|(c\.?)|(d\.\sM\.?)|(v\.\sM\.?))\n',
re.UNICODE)

In [204]:
pattern2

re.compile(r'(?P<placename>(([A-Za-züöäSß]{3,}(?=\sGr[eä]nze))\s|St.\s|Bad\s|San\s|Buenos\s|New\s|[A-ZÜÖÄ][a-züöäSß]{2,}\s?[-–=]\s?|[A-ZÜÖÄ][a-züöäSß]{3,}\s[Aa]m\s)?[A-ZÜÖÄ][a-züöäSß]{3,})(?:\.|,|\.,)\s*(?:([Dd]en)|([Vv]om)|([Dd]em)|([Dd]er»)|([Dd]er))?\s*(?P<date>\d{1,2})(?:\.|ten|sten)?\s*(?P<date2>\(\d{1,2}\.?(\s)?\))?\s+(?P<month>([Jj]an)|([Ff]eb)|([Mm][äa]r)|([Aa]pr)|([Mm]ai)|([Jj][un]n)|([Jj][un]l)|([Aa]ug)|([Ss]ept)|([Oo]ct)|([Nn]ov)|([Dd]e[cz])|(c\.?)|(d\.\sM\.?)|(v\.\sM\.?))\n',
re.UNICODE)

In [205]:
with open('placename_replacement_dict.json', 'r', encoding='utf8') as f:
    placename_replacement_dict = json.load(f)

In [281]:
df = pd.read_csv('processed_data.tsv', sep='\t', encoding='utf8').convert_dtypes()

In [282]:
df['doc_date'] = pd.to_datetime(df['doc_date'])

In [283]:
df['origin_date'] = pd.to_datetime(df['origin_date'])

In [284]:
df[df.placename == 'Paris']

,doc_id,doc_date,placename,day,day2,month,start,end,year,origin_date,delta
1,1,1802-01-01,Paris,18,<NA>,12,<NA>,20,1802,1801-12-18,14
17,20,1802-01-08,Paris,25,<NA>,12,<NA>,21,1802,1801-12-25,14
32,45,1802-01-15,Paris,1,<NA>,1,<NA>,20,1802,1802-01-01,14
35,53,1802-01-18,Paris,6,<NA>,1,<NA>,19,1802,1802-01-06,12
47,73,1802-01-25,Paris,8,<NA>,1,<NA>,19,1802,1802-01-08,17
...,...,...,...,...,...,...,...,...,...,...,...
243508,289479,1888-12-14,Paris,28,11,12,<NA>,20,1888,1888-12-11,3
243522,289519,1888-12-16,Paris,27,15,12,1532,1552,1888,1888-12-15,1
243527,289557,1888-12-19,Paris,29,17,12,<NA>,20,1888,1888-12-17,2
243531,289558,1888-12-19,Paris,30,13,12,1880,1900,1888,1888-12-13,6
243547,289593,1888-12-22,Paris,31,19,12,<NA>,20,1888,1888-12-19,3

243569

In [260]:
placename_replacement_dict

{'Petersburg': 'St. Petersburg',
 'Trieft': 'Triest',
 'Pesth': 'Pest',
 'Pefth': 'Pest',
 'Verlin': 'Berlin',
 'Maingegenden': 'Main',
 'Janeiro': 'Rio de Janeiro',
 'Bucharest': 'Bukarest',
 'Vondon': 'London',
 'Loudon': 'London',
 'Rewyork': 'New York',
 'Newyork': 'New York',
 'Ncwyork': 'New York',
 'Newyort': 'New York',
 'New-York': 'New York',
 'Ntwyork': 'New York',
 'Pans': 'Paris',
 'PanS': 'Paris',
 'Parts': 'Paris',
 'PartS': 'Paris',
 'Baris': 'Paris',
 'PariS': 'Paris',
 'Konftantinopel': 'Konstantinopel',
 'Konstautinopel': 'Konstantinopel',
 'Koustantinopel': 'Konstantinopel',
 'Konstantmopel': 'Konstantinopel',
 'Constantinopel': 'Konstantinopel',
 'Kalkutta': 'Calcutta',
 'Niga': 'Riga',
 'Riza': 'Riga',
 'Rlga': 'Riga',
 'Kiga': 'Riga',
 'Rcval': 'Reval',
 'Neval': 'Reval',
 'Torpat': 'Dorpat',
 'DomeSneeS': 'Domesnees',
 'DomesneeS': 'Domesnees',
 'DomeSnees': 'Domesnees',
 'Domcsnees': 'Domesnees',
 'Snees': 'Domesnees',
 'Boldcraa': 'Bolderaa',
 'Sselo': 'Zarskoje Sselo',
 'Skoje-Sselo': 'Zarskoje Sselo',
 'Mayn': 'Main',
 'Liban': 'Libau',
 'Turm': 'Turin',
 'Ancona': 'Ankona',
 'Carlsruhe': 'Karlsruhe',
 'Bafel': 'Basel',
 'Straszburg': 'Straßburg',
 'Strasburg': 'Straßburg',
 'Moskwa': 'Moskau',
 'MoSkau': 'Moskau',
 'Narowa': 'Narwa',
 'Narva': 'Narwa',
 'Berlm': 'Berlin',
 'Bertin': 'Berlin',
 'Berlw': 'Berlin',
 'Mayland': 'Mailand',
 'Darmftadt': 'Darmstadt',
 'DreSden': 'Dresden',
 'Cassel': 'Kassel',
 'Wieu': 'Wien',
 'Manheim': 'Mannheim',
 'Stuttgardt': 'Stuttgart',
 'Frankfurt': 'Frankfurt am Main',
 'TifliS': 'Tiflis',
 'Buenos-Ayres': 'Buenos Aires',
 'Archangel': 'Archangelsk',
 'Kadix': 'Cadix',
 'Malehin': 'Malchin',
 'Türkischen Gränze': 'Türkische Grenze',
 'Türkische Gränze': 'Türkische Grenze',
 'Italienischen Gränze': 'Italienische Grenze',
 'Italienischen Grenze': 'Italienische Grenze',
 'Serbischen Gränze': 'Serbische Grenze',
 'Servische Gränze': 'Serbische Grenze',
 'Polnischen Grenze': 'Polnische Grenze',
 'Spanische Gränze': 'Spanische Grenze'}